{{ if eq .Section "posts" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ .Title }},
  "url": {{ .Permalink }},
  "inLanguage": {{ .Language.Lang }},
  "publisher": {
    "@type": "Organization",
    "name": "SeaTable",
    "url": {{ .Site.BaseURL }}
  },
  "about": [
    "Low-Code",
    "No-Code",
    "Automatisierung",
    "Datenmanagement",
    "CRM",
    "Künstliche Intelligenz"
  ],
  "hasPart": [
    {{- $pages := .Pages.ByDate.Reverse -}}
    {{- range $index, $p := $pages -}}
    {{- if $index }},{{ end }}
    {
      "@type": "BlogPosting",
      "headline": {{ $p.Title | jsonify }},
      "url": {{ $p.Permalink | jsonify }},
      "datePublished": {{ $p.Date.Format "2006-01-02" | jsonify }},
      "author": {
        "@type": "Organization",
        "name": "SeaTable"
      }
    }
    {{- end -}}
  ]
}
</script>
{{ end }}