<nav aria-label="breadcrumb">
    <span class="flex w-fit place-items-center gap-2 rounded-md bg-gray-200 px-6 py-2">
        {{ $ancestors := .Ancestors.Reverse }}
        {{ $last := index (last 1 $ancestors) 0 }}
        {{ range $ancestors }}
            {{ if not .IsHome }}
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ if ne . $last }}
                    {{ partial "icon.html" "arrow-right" }}
                {{ end }}
            {{ end }}
        {{ end }}
    </span>
</nav>

<!-- 

in englisch:
/help
/help/first-steps/course-level-1
/help/xxx

in deutsch
/de/hilfe
/de/hilfe/erste-schritte/kurs-level-1
/de/hilfe/xxx

-->
