{{ with .Params.sections }}
    {{ range sort . "weight" }}
        {{ $partialName := printf "content-blocks/%s.html" .name }}
        {{ if templates.Exists ( printf "partials/%s" $partialName ) }}
            <!-- show block -->
            {{ partial $partialName . }}
        {{ else }}
            <!-- block name not known -->
            {{ partial "content-blocks/unknown.html" . }}
        {{ end }}
    {{ end }}
{{ else }}
    <!-- no blocks defined at all -->
    {{ partial "content-blocks/undefined.html" . }}
{{ end }}
