
{{ $sections := slice
    (dict "name" "hero1" "content" .Params.hero1 "weight" .Params.hero1.weight)
    (dict "name" "popularproducts" "content" .Params.popularproducts "weight" .Params.popularproducts.weight)
    (dict "name" "pricetable" "content" .Params.pricetable "weight" .Params.pricetable.weight)
    (dict "name" "branchenloesungen" "content" .Params.branchenloesungen "weight" .Params.branchenloesungen.weight)
    (dict "name" "ab_test" "content" .Params.ab_test "weight" .Params.ab_test.weight)
}}

{{ range sort $sections "weight" }}
    {{ $partialName := printf "seatable-pages/%s.html" .name }}
    {{ partial $partialName .content | default (partial "content-blocks/default.html" .content) }}
{{ end }}






{{ $sections := slice
    (dict "name" "hero1" "content" .Params.hero1 "weight" .Params.hero1.weight)
    (dict "name" "popularproducts" "content" .Params.popularproducts "weight" .Params.popularproducts.weight)
    (dict "name" "pricetable" "content" .Params.pricetable "weight" .Params.pricetable.weight)
    (dict "name" "branchenloesungen" "content" .Params.branchenloesungen "weight" .Params.branchenloesungen.weight)
    (dict "name" "ab_test" "content" .Params.ab_test "weight" .Params.ab_test.weight)
}}
{{ range sort $sections "weight" }}
          
    <!-- AB-Test -->
    {{ if eq .name "ab_test" }}
        <section class="padding">
            <section class="max-container">
                <div x-data="abTest()" class="container">
                    <!-- Version A -->
                    <div x-show="variant === 'A'">
                      <h1>Welcome</h1>
                      <p>How do you like Budget Plan?</p>
                      <a href="?pk_ab_test=variant-a">Link (Tracking Variante A)</a>
                      {{ partial "template.html" (dict "id" "8fa08d31d16c4a54a1bb") }}
                    </div>
                
                    <!-- Version B -->
                    <div x-show="variant === 'B'">
                      <h1>Welcome</h1>
                      <p>How do you like Budget Book?</p>
                      <a href="?pk_ab_test=variant-b">Link (Track Variante B)</a>
                      {{ partial "template.html" (dict "id" "07029bcd3c644efc898c") }}
                    </div>
                    

                    <!-- Debugging -->
                    <!--<p>Current Variant: <span x-text="variant"></span></p> -->
                  </div>
            </section>
        </section>
    {{ end }}

 

    {{ if eq .name "popularproducts" }}
        {{ with .content }}
            <!-- popularproducts -->
            
        {{ end }}
    {{ end }}
{{ end }}


<section class="padding">
    <section id="galerie" class="max-container">
        <div class="mx-auto text-center max-w-[800px]">
            <p class="text-2xl font-bold font-poppins gradient">Visualisierung der Daten</p>
            <h2 class="mt-1 text-4xl font-bold">Behalten Sie immer die Übersicht über alle Ihre Daten</h2>
            <p class="mt-12 text-lg leading-normal">Visualisieren Sie Ihre Datensätze auf jede erdenkliche Weise und arbeiten Sie in Echtzeit zusammen. Hier nur einige der Möglichkeiten von SeaTable.</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mt-16">
            <div>
                <p class="font-poppins font-bold text-2xl mb-4 text-seatable-blue">Base Editor</p>
                <img class="rounded-lg shadow-lg max-h-[250px] " src="https://seatable.com/wp-content/uploads/2025/02/template-content-marketing-strategie.png" alt="Base Editor" />
            </div>
            <div>
                <p class="font-poppins font-bold text-2xl mb-4 text-seatable-blue">Galerie</p>
                <img class="rounded-lg shadow-lg max-h-[250px] object-cover w-[100%]" src="https://seatable.com/wp-content/uploads/2025/02/galerie-plugin.png" alt="Base Editor" />
            </div>
            <div>
                <p class="font-poppins font-bold text-2xl mb-4 text-seatable-blue">Galerie</p>
                <img class="rounded-lg shadow-lg max-h-[250px] object-cover w-[100%]" src="https://seatable.com/wp-content/uploads/2025/02/galerie-plugin.png" alt="Base Editor" />
            </div>
            <div>
                <p class="font-poppins font-bold text-2xl mb-4 text-seatable-blue">Galerie</p>
                <img class="rounded-lg shadow-lg max-h-[250px] object-cover w-[100%]" src="https://seatable.com/wp-content/uploads/2025/02/galerie-plugin.png" alt="Base Editor" />
            </div>
        </div>
    </section>
</section>



<!--
<section class="padding-x pt-8 pb-8 bg-purple-600">
    <section>
        <nav class="flex justify-between">
            <p>Logo</p>
            <ul class="flex gap-8">
                <li>Nav 1</li>
                <li>Nav 2</li>
            </ul>
            <p>Other Nav items</p>
        </nav>
    </section>
</section>
-->

<!-- 
https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/
https://www.youtube.com/watch?v=tS7upsfuxmo
https://play.tailwindcss.com/
https://nanmu.me/en/posts/2020/hugo-i18n-automatic-language-redirection/
https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/
https://kinsta.com/de/blog/express-app-erstellen/
https://nanmu.me/en/posts/2020/hugo-i18n-automatic-language-redirection/
-->

<!-- Navigation with logo left, nav items right -->
<!--
<section class="padding-x">
    <section id="header-test" class="">
        <nav>
            <ul class="flex gap-8">
                <li class="mr-auto">Logo</li>
                <li>About use</li>
                <li>Contact</li>
            </ul>
        </nav>
    </section>
</section>

<section class="padding">
    <section id="abc" class="max-container w-[300px] flex gap-8 h-[100px] justify-start">
        <div class="bg-green-900">Hello World</div>
        <div class="bg-coral-red ">to my world</div>
        <div class="bg-blue-400">the</div>
        <div class="bg-red-600">world</div>
    </section>
</section>

<section class="padding bg-white">
    <section id="xxx">
        <h2>das ist mit weißem hintergrund</h2>
    </section>
</section>
-->

<section class="!pt-40 padding bg-gray-100 curved">
    <section id="2col" class="max-container flex justify-between items-start w-full gap-10 max-lg:flex-col">
        <div class="flex flex-col basis-3/5">
            <p class="text-2xl font-bold font-poppins gradient">Ohne Programmierkenntnisse</p>
            <h2 class="mt-1 text-4xl font-bold">Erstellen Sie individuelle Apps</h2>
            <p class="mt-8">Willkommen in der Zukunft der App-Entwicklung, bei der Programmierkenntnisse optional sind.
                Mit SeaTable können Sie sofort loslegen!</p>
            <h3 class="mt-12 text-xl font-bold tracking-tight">Nutzen Sie den No-Code App Builder</h3>
            <p class="mt-3 text-base leading-normal">Unser No Code App Builder ermöglicht es Ihnen, leistungsstarke, datengetriebene Anwendungen
                mühelos per Drag-and-Drop-Funktion zu erstellen. Programmieren ohne Code: Ob Sie ein CRM,
                ein Projektmanagement-Tool oder eine spezifische Lösung für Ihr Unternehmen benötigen – Sie
                können alles selbst erstellen, auch ohne eine einzige Zeile Code schreiben zu müssen.</p>
                <h3 class="mt-12 text-xl font-bold tracking-tight">Intuitive No-Code und Low-Code Benutzeroberfläche</h3>
                <p class="mt-3 text-base leading-normal">Egal, ob Sie ein erfahrener Entwickler oder ein Citizen Developer ohne
                    Programmierkenntnisse sind, unsere Tools sind darauf ausgelegt, all Ihre Bedürfnisse beim App-Bau zu erfüllen
                    und Ihre Geschäftsprozesse zu digitalisieren. Starten Sie gleich hier: eigene App erstellen kostenlos.</p>
                <h3 class="mt-12 text-xl font-bold tracking-tight">Kollaboratives Arbeiten in Echtzeit für Teams</h3>
                    <p class="mt-3 text-base leading-normal">SeaTable fördert die Zusammenarbeit in Ihrem Team durch Echtzeit-Synchronisation und gemeinsame Arbeitsbereiche.
                        Jeder im Team kann gleichzeitig auf dieselben Daten zugreifen, Änderungen vornehmen und sehen, was andere bearbeiten.</p>
                    <p class="mt-3 text-base leading-normal">Dies macht SeaTable zu einem idealen Werkzeug für Teams, die gemeinsam an Projekten arbeiten und ihre Produktivität
                        steigern möchten. Unsere No-Code-/Low-Code Plattform unterstützt kollaboratives Arbeiten auch durch Kommentar- und
                        Freigabefunktionen und hilft Ihnen so, Ihre Teamarbeit zu optimieren.</p>
        </div>
        <div class="basis-2/5 justify-center">
            <img src="https://placehold.co/560x400" alt="placeholder" />
        </div>
    </section>
</section>



<section class="padding">
    <section id="xxx" class="max-container">
        <p class="text-2xl font-bold font-poppins gradient">Warum SeaTable?</p>
        <h2 class="mt-1 text-4xl font-bold">Entdecken Sie die Vorteile der SeaTable No-Code-Plattform</h2>

        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-16"> 
            <div>
                <i class="fa-solid fa-wand-magic-sparkles text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Kein Code, volle Flexibilität</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Verabschieden Sie sich von komplexen Programmiervorgängen. Selbst die anspruchsvollen Prozesse lassen sich auf einer einfachen Drag-and-Drop-Oberfläche erstellen.</p>
            </div>
            <div>
                <i class="fa-solid fa-flask text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Vielseitiger App-Builder</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Apps selbst erstellen – maßgeschneidert für Ihr Geschäftsmanagement, Ihre Kundenbindung und vieles mehr, perfekt auf die Bedürfnisse Ihres Unternehmens abgestimmt.</p>
            </div>
            <div>
                <i class="fa-solid fa-sack-dollar text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Kosteneffektiv</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Apps selbst erstellen – maßgeschneidert für Ihr Geschäftsmanagement, Ihre Kundenbindung und vieles mehr, perfekt auf die Bedürfnisse Ihres Unternehmens abgestimmt.</p>
            </div>
            <div>
                <i class="fa-solid fa-star text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Benutzerfreundlich</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Unsere Low-Code/No-Code Plattform ist sowohl für Programmierer als auch für Citizen Developer konzipiert und macht die App-Erstellung für alle zugänglich.</p>
            </div>
        </div>
    </section>
</section>

<!-- diesen Container kann man zusammenfassen mit der Galerie oben drüber... -->
<section class="padding">
    <section id="galerie" class="max-container">
        <div class="mx-auto text-center max-w-[800px]">
            <p class="text-2xl font-bold font-poppins gradient">Jetzt loslegen</p>
            <h2 class="mt-1 text-4xl font-bold">Vorlagen zum Start Ihres nächsten Teamprojekts</h2>
            <p class="mt-12 text-lg leading-normal">Importieren Sie vorgefertige Vorlagen mit nur einem Klick in Ihren SeaTable Account.</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mt-16">
            <div>
                <img class="rounded-lg shadow-lg h-[250px] object-cover w-[100%]" src="/images/projektplan.png" alt="Base Editor" />
                <h3 class="text-2xl mt-4 mb-2 font-bold">Arbeitszeiterfassung</h3>
                <p class="font-poppins font-bold text-xl mb-4 gradient">Personalwesen</p>
            </div>
            <div>
                <img class="rounded-lg shadow-lg h-[250px] object-cover w-[100%]" src="/images/massnahmenplan.jpg" alt="Base Editor" />
            </div>
            <div>
                <img class="rounded-lg shadow-lg max-h-[250px] object-cover w-[100%]" src="https://seatable.com/wp-content/uploads/2025/02/galerie-plugin.png" alt="Base Editor" />
            </div>
        </div>

        <div class="text-center mt-12">
            <a href="#" class="rounded-xl px-7 py-4 bg-white text-gray-800 font-bold font-poppins border border-seatable-blue">Finden Sie weitere Vorlagen für Ihren Anwendungsbereich</a>
        </div>
    </section>
</section>

<section class="bg-seatable-blue padding curved">
    <section id="abc">
        <div class="mx-auto text-left max-w-[800px] pr-44">
            <p class="gradient font-poppins font-bold text-2xl">Sparen Sie wertvolle Zeit</p>
            <h2 class="text-4xl text-white font-bold mt-1 leading-none">Automatisieren Sie Prozesse</h2>
            <p class="mt-8 text-white text-lg leading-relaxed">Unsere No-Code Plattform ermöglicht es Ihnen, wiederkehrende Aufgaben zu automatisieren, Workflows zu erstellen und Benachrichtigungen zu konfigurieren.
                So können Sie sich auf das Wesentliche konzentrieren und die Effizienz Ihres Unternehmens steigern.
            </p>
        </div>
        <div class="mx-auto text-right max-w-[800px] pl-44 mt-24">
            <p class="gradient font-poppins font-bold text-2xl">Ohne Limits</p>
            <h2 class="text-4xl text-white font-bold mt-1 leading-none">Die Datenbank, die dort weitermacht, wo Excel an Grenzen stößt</h2>
            <p class="mt-8 text-white text-lg leading-relaxed">Verabschieden Sie sich von den Einschränkungen traditioneller Tabellenkalkulationen. Unsere No-Code Datenbank bietet
                Ihnen die Flexibilität und Leistungsfähigkeit, die Excel nicht erreichen kann.</p>
                <p class="mt-8 text-white text-lg leading-relaxed">Verwalten Sie komplexe Datenstrukturen, verknüpfen Sie Tabellen und analysieren Sie Ihre Daten effizient – alles
                    innerhalb einer benutzerfreundlichen Oberfläche. Die <strong>Excel-Alternative</strong> SeaTable revolutioniert das Datenmanagement und bietet Ihnen die Werkzeuge, die Sie benötigen,
                    um Ihre Daten effizient zu verwalten.

                </p>
            </p>
        </div>
    </section>
</section>

<section class="padding">
    <section class="max-w-[900px] mx-auto">
        <h2 class="text-center font-bold text-5xl gradient leading-narrow">Entdecken Sie die Vorteile der SeaTable No-Code-Plattform</h2>
    </section>
</section>


<section class="padding curved curved-gradient">
    <section class="">
        <div class="mx-auto text-right max-w-[1000px]">
            <h3 class="font-bold text-5xl text-white leading-none">Wie auch immer Ihr Arbeitsablauf
                aussieht, mit SeaTable können Sie
                Ihn realisieren</h3>
            <div class="text-right mt-12">
                <a href="#" class="rounded-xl px-7 py-4 bg-white text-gray-800 font-bold font-poppins border border-seatable-blue">Jetzt registrieren und loslegen</a>
            </div>
        </div>
    </section>
</section>

<!-- FAQ Section -->
<section class="padding">
    <section id="faq">
        <div class="mx-auto text-center max-w-[900px] mb-24">
            <h2 class="text-4xl font-bold mt-1 leading-narrow">Häufig gestellte Fragen zur SeaTable No-Code-Lösung
            </h2>
        </div>

        <div class="grid grid-cols-1 mx-auto max-w-[900px] mt-4">
            <div x-data="{open:false}" class="cursor-pointer rounded-xl border border-gray-200 bg-gray-50 p-6">
                <dt @click="open=!open" class="flex justify-between items-center" aria-controls="faq-1">
                    <p class="font-poppins font-bold text-lg">Is Desktop for me?</p>
                    <i :class="open || '-rotate-180'" class="fa-solid fa-chevron-up transition-transform"></i>
                </dt>
                <dd x-show="open" id="faq-1" class="text-lg mt-6">
                    <p class="leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nisi quasi, maiores, architecto sapiente odio repellat incidunt expedita
                        possimus doloremque cupiditate quia fuga corporis error! Voluptate quo quod doloribus totam.
                    </p>
                </dd>
            </div>
        </div>
        <div class="grid grid-cols-1 mx-auto max-w-[900px] mt-4">
            <div x-data="{open:false}" class="cursor-pointer rounded-xl border border-gray-200 bg-gray-50 p-6">
                <dt @click="open=!open" class="flex justify-between items-center" aria-controls="faq-2">
                    <p class="font-poppins font-bold text-lg">Is Desktop for me?</p>
                    <i :class="open || '-rotate-180'" class="fa-solid fa-chevron-up transition-transform"></i>
                </dt>
                <dd x-show="open" id="faq-2" class="text-lg mt-6">
                    <p class="leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nisi quasi, maiores, architecto sapiente odio repellat incidunt expedita
                        possimus doloremque cupiditate quia fuga corporis error! Voluptate quo quod doloribus totam.
                    </p>
                </dd>
            </div>
        </div>
    </section>
</section>

<section class="!pt-40 padding bg-gray-100 curved">
    <section id="2col" class="max-container flex justify-between items-start w-full gap-10 lg:gap-40 max-lg:flex-col">
        <div class="flex flex-col basis-3/5">
            <p class="text-2xl font-bold font-poppins gradient">Datensicherheit und Datenschutz</p>
            <h2 class="mt-1 text-4xl font-bold">Eine Lösung, der Sie vertrauen können</h2>
            <p class="mt-8 text-xl leading-normal">Datensicherheit hat bei SeaTable höchste Priorität. Unsere Plattform bietet robuste Sicherheitsfunktionen, um Ihre Daten zuverlässig zu schützen.</p>
            <p class="mt-8 text-xl leading-normal">Sie behalten stets die Kontrolle über Ihre Informationen und können sicher sein, dass Ihre Daten gemäß den neuesten Datenschutzstandards verwaltet werden.
                Die SeaTable No-Code Plattform gewährleistet, dass Ihre Daten sicher und konform mit den geltenden Datenschutzbestimmungen gespeichert werden.</p>
            <p class="mt-8 text-xl leading-normal">Die SeaTable Cloud wird in zertifizierten deutschen Rechenzentren einer Schweizer Anbieters gehostet. Die Registrierung dauert nur wenige Sekunden.</p>
            <p class="mt-8 text-xl leading-normal">Bei Ihrem eigenen Server entscheiden Sie, wo SeaTable Ihre Daten speicher. Sie haben die volle Datenhoheit.</p>
            <a href="#" class="mt-8">Erfahren Sie mehr über die verschiedenen Versionen <i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="mt-8">Zum SeaTable On-Premise Angebot <i class="fa-solid fa-arrow-right"></i></a>
            
        </div>
        <div class="basis-2/5 justify-center">
            <img src="/img/seatable-security-1.jpg" class="p-1 border bg-white rounded-lg shadow-2xl" alt="placeholder" />
        </div>
    </section>
</section>

<!-- Anfrageformular -->
<section class="padding">
    <section id="kontaktanfrage" class="max-container">
        <div class="mx-auto text-center max-w-[800px]">
            <p class="text-2xl font-bold font-poppins gradient">Kontaktieren Sie uns</p>
            <h2 class="mt-1 text-4xl font-bold">Lassen Sie uns Ihre Prozess-digitalisierung vorantreiben.</h2>
            <p class="mt-12 text-lg leading-normal">Unser Team steht Ihnen zur Verfügung, rund um Fragen zu No Code Plattformen, Programmieren ohne Code und Low-Code-Lösungen mit SeaTable. Wir helfen Ihnen,
                die beste Lösung für Ihr Unternehmen und Ihren Anwendungsfall zu finden. Entdecken Sie noch heute die transformative Power der SeaTable No-Code Digital Solution!</p>
        </div>

        <div x-data="formValidation()">
            <form @submit.prevent="submitForm" method="POST" class="mx-auto mt-16 max-w-2xl sm:mt-20">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div>
                        <label for="first-name" class="block font-bold text-md">First name</label>
                        <div class="mt-2.5">
                        <input type="text" name="first-name" id="first-name" autocomplete="given-name" x-model="firstname" required class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-700 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        </div>
                    </div>
                    <div>
                        <label for="last-name" class="block font-bold text-md">Last name</label>
                        <div class="mt-2.5">
                        <input type="text" name="last-name" id="last-name" autocomplete="family-name" x-model="lastname" required class="block w-full rounded-md bg-white px-3.5 py-3 text-base text-gray-700 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="company" class="block text-sm/6 font-semibold text-gray-900">Company</label>
                        <div class="mt-2.5">
                        <input type="text" name="company" id="company" autocomplete="organization" x-model="company" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email</label>
                        <div class="mt-2.5">
                            <input type="email" name="email" id="email" autocomplete="email" x-model="email" @input="validateEmail" required class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                            <p x-text="errors.email" class="error"></p>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="subject" class="block text-sm/6 font-semibold text-gray-900">Grund der Anfrage</label>

                        <div class="mt-2.5">
                            <select id="subject" x-model="subject" x-init="subject = $el.value; console.log($el.dataset); type = $el.dataset.type" @change="type = $event.target.options[$event.target.selectedIndex].dataset.type" class="bg-gray-50 border appearance-none form-select bg-no-repeat border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <!-- TODO: Define mapping from option to type (sales/support) -->
                                <option value="Ich möchte mehr über SeaTable Enterprise erfahren" data-type="sales" selected>I would like to learn more about SeaTable Enterprise</option>
                                <option value="Ich möchte ein Angebot erhalten" data-type="sales">I would like to receive a quote</option>
                                <option value="Ich habe eine Frage zur SeaTable Cloud" data-type="sales">I have a question about the SeaTable Cloud</option>
                                <option value="Ich bin ein Kunde und benötige Support" data-type="support">I am a customer and need support</option>
                                <option value="Ich habe eine Partner/Reseller Anfrage" data-type="sales">I have a partner/reseller request</option>
                                <option value="Etwas anderes ..." data-type="support">Something else ...</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="sm:col-span-2">
                        <label for="message" class="block text-sm/6 font-semibold text-gray-900">Message</label>
                        <div class="mt-2.5">
                        <textarea name="message" id="message" x-model="message" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
                        </div>
                    </div>

                    <div class="flex gap-x-4 sm:col-span-2">
                        <div class="flex h-6 items-center">
                        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                        <button type="button" class="flex w-8 flex-none cursor-pointer rounded-full bg-gray-200 p-px ring-1 ring-inset ring-gray-900/5 transition-colors duration-200 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" role="switch" aria-checked="false" aria-labelledby="switch-1-label">
                            <span class="sr-only">Agree to policies</span>
                            <!-- Enabled: "translate-x-3.5", Not Enabled: "translate-x-0" -->
                            <span aria-hidden="true" class="size-4 translate-x-0 transform rounded-full bg-white shadow-sm ring-1 ring-gray-900/5 transition duration-200 ease-in-out"></span>
                        </button>
                        </div>
                        <label class="text-sm/6 text-gray-600" id="switch-1-label">
                        By selecting this, you agree to our
                        <a href="#" class="font-semibold text-indigo-600">privacy&nbsp;policy</a>.
                        </label>
                    </div>
                </div>

                <div class="mt-10">
                    <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Let's talk</button>
                </div>
            </form>
        </div>
        
    </section>
</section>


<!-- AB HIER NIKE !!! -->


<!-- requires "relative" -->
<section class="padding bg-[url('/img/seatable-waves-background-scaled.jpg')] bg-cover bg-center">
    <section id="abc" class="max-container flex justify-between items-start w-full gap-10 max-lg:flex-col">
        <div class="flex flex-col flex-1">
            <h2 class="font-palanquin text-4xl capitalize font-bold">We provide your <span class="text-coral-red">super quality</span> shoes</h2>
            <p class="mt-4 info-text">Ensuring premium comfort and style, our meticulously crafted footwear is designed
                to elevate your experience, providing you with unmatched quality, innovation,
                and a touch of elegance.</p>
            <p class="mt-4 info-text">Our dedication to detail and excellence ensures your satisfaction</p>
            <div class="mt-11">
                <a class="inline-flex justify-center items-center gap-2 font-montserrat text-lg rounded-full px-7 py-4 bg-coral-red text-white">View details <img class="ml-2 rounded-full w-5 h-5" src="/icons/arrow-right.svg" alt="arrow right icon"/></a></button>
            </div>
        </div>
        <div class="flex flex-1 justify-center">
            <img src="https://placehold.co/570x522" width="570" height="522" alt="placeholder" />
        </div>
    </section>
</section>

<section class="!pt-40 padding bg-gray-100 curved move-up">
    <section id="2col" class="max-container flex justify-between items-start w-full gap-10 max-lg:flex-col">
        <div class="flex flex-col basis-3/5">
            <p class="text-2xl font-bold font-poppins gradient">Ohne Programmierkenntnisse</p>
            <h2 class="mt-1 text-4xl font-bold">Erstellen Sie individuelle Apps</h2>
            <p class="mt-8">Willkommen in der Zukunft der App-Entwicklung, bei der Programmierkenntnisse optional sind.
                Mit SeaTable können Sie sofort loslegen!</p>
            <h3 class="mt-12 text-xl font-bold tracking-tight">Nutzen Sie den No-Code App Builder</h3>
            <p class="mt-3 text-base leading-normal">Unser No Code App Builder ermöglicht es Ihnen, leistungsstarke, datengetriebene Anwendungen
                mühelos per Drag-and-Drop-Funktion zu erstellen. Programmieren ohne Code: Ob Sie ein CRM,
                ein Projektmanagement-Tool oder eine spezifische Lösung für Ihr Unternehmen benötigen – Sie
                können alles selbst erstellen, auch ohne eine einzige Zeile Code schreiben zu müssen.</p>
                <h3 class="mt-12 text-xl font-bold tracking-tight">Intuitive No-Code und Low-Code Benutzeroberfläche</h3>
                <p class="mt-3 text-base leading-normal">Egal, ob Sie ein erfahrener Entwickler oder ein Citizen Developer ohne
                    Programmierkenntnisse sind, unsere Tools sind darauf ausgelegt, all Ihre Bedürfnisse beim App-Bau zu erfüllen
                    und Ihre Geschäftsprozesse zu digitalisieren. Starten Sie gleich hier: eigene App erstellen kostenlos.</p>
                <h3 class="mt-12 text-xl font-bold tracking-tight">Kollaboratives Arbeiten in Echtzeit für Teams</h3>
                    <p class="mt-3 text-base leading-normal">SeaTable fördert die Zusammenarbeit in Ihrem Team durch Echtzeit-Synchronisation und gemeinsame Arbeitsbereiche.
                        Jeder im Team kann gleichzeitig auf dieselben Daten zugreifen, Änderungen vornehmen und sehen, was andere bearbeiten.</p>
                    <p class="mt-3 text-base leading-normal">Dies macht SeaTable zu einem idealen Werkzeug für Teams, die gemeinsam an Projekten arbeiten und ihre Produktivität
                        steigern möchten. Unsere No-Code-/Low-Code Plattform unterstützt kollaboratives Arbeiten auch durch Kommentar- und
                        Freigabefunktionen und hilft Ihnen so, Ihre Teamarbeit zu optimieren.</p>
        </div>
        <div class="basis-2/5 justify-center">
            <img src="https://placehold.co/560x400" alt="placeholder" />
        </div>
    </section>
</section>

<section class="padding">
    
    <section id="superquality" class="flex justify-between items-center max-lg:flex-col gap-10 w-full max-container">
        <div class="flex flex-1 flex-col">
            <h2 class="font-palanquin text-4xl capitalized font-bold lg:max-w-lg">We Provide Your <span class="text-coral-red">Super Quality</span> Shoes</h2>
            <p class="mt-4 lg:max-w-lg info-text">Ensuring premium comfort and style, our meticulously crafted footwear
                is designed to elevate your experience, providing you with unmatched
                quality, innovation, and a touch of elegance.</p>
            <p class="mt-6 lg:max-w-lg info-text">Our dedication to detail and excellence ensures your satisfaction</p>
            <div class="mt-11">
                <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-coral-red rounded-full text-white border-coral-red">View details</button>
            </div>

        </div>

        <div class="flex-1 flex justify-center items-center">
            <img src="/images/shoe8.svg" alt="product detail" class="object-contain" width="570" height="522" />
        </div>
    </section>

</section>

<section class="padding-x py-10">
    <section id="services" class="max-container flex justify-center flex-wrap gap-9">

        <div class="flex-1 sm:w-[350px] sm:min-w-[350px] w-full rounded-[20px] shadow-3xl px-10 py-16">
            <div class="w-11 h-11 flex justify-center items-center bg-coral-red rounded-full">
                <img src="/icons/truck-fast.svg" alt="truckFast" width="24" height="24" />
            </div>
            <h3 class="mt-5 font-palanquin text-3xl leading-normal font-bold">Free shipping</h3>
            <p class="mt-3 break-words font-montserrat text-lg leading-normal text-slate-gray">Enjoy seamless shopping with our complimentary shipping service.</p>
        </div>

        <div class="flex-1 sm:w-[350px] sm:min-w-[350px] w-full rounded-[20px] shadow-3xl px-10 py-16">
            <div class="w-11 h-11 flex justify-center items-center bg-coral-red rounded-full">
                <img src="/icons/shield-tick.svg" alt="shieldTick" width="24" height="24" />
            </div>
            <h3 class="mt-5 font-palanquin text-3xl leading-normal font-bold">Secure Payment</h3>
            <p class="mt-3 break-words font-montserrat text-lg leading-normal text-slate-gray">Experience worry-free transactions with our secure payment options.</p>
        </div>

        <div class="flex-1 sm:w-[350px] sm:min-w-[350px] w-full rounded-[20px] shadow-3xl px-10 py-16">
            <div class="w-11 h-11 flex justify-center items-center bg-coral-red rounded-full">
                <img src="/icons/support.svg" alt="support" width="24" height="24" />
            </div>
            <h3 class="mt-5 font-palanquin text-3xl leading-normal font-bold">Love to help you</h3>
            <p class="mt-3 break-words font-montserrat text-lg leading-normal text-slate-gray">Our dedicated team is here to assist you every step of the way.</p>
        </div>

    </section>
</section>

<section class="padding">

    <section id="specialoffer" class="flex justify-wrap items-center max-lg:flex-col-reverse gap-10 max-container">
        
        <div class="flex-1">
            <img src="/images/offer.svg" alt="our offer" width="773" height="687" class="object-contain w-full" />
        </div>

        <div class="flex flex-1 flex-col">
            <h2 class="font-palanquin text-4xl capitalized font-bold lg:max-w-lg"><span class="text-coral-red">Special</span> Offer</h2>
            <p class="mt-4 lg:max-w-lg info-text">Embark on a shopping journey that redefines your experience with
                unbeatable deals. From premier selections to incredible savings, we
                offer unparalleled value that sets us apart.</p>
            <p class="mt-6 lg:max-w-lg info-text">Navigate a realm of possibilities designed to fulfill your unique
                desires, surpassing the loftiest expectations. Your journey with us is
                nothing short of exceptional.</p>
            <div class="mt-11 flex flex-wrap gap-4">
                <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-coral-red rounded-full text-white border-coral-red">Shop now <img class="ml-2 rounded-full w-5 h-5" src="/icons/arrow-right.svg" alt="arrow right icon"/></button>
                <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-white rounded-full border-slate-gray text-slate-gray">Learn more </button>
            </div>

        </div>

    </section>

</section>

<section class="bg-pale-blue padding">
    <section id="customerreviews" class="max-container">
        <h3 class="font-palanquin text-center text-4xl font-bold">What Our <span class="text-coral-red">Customers</span> Say?</h3>
        <p class="info-text m-auto mt-4 max-w-lg text-center">Hear genuine stories from our satisfied customers about their
            exceptional experiences with us.</p>

        <div class="mt-24 flex flex-1 justify-evenly items-center max-lg:flex-col gap-14">
            <div class='flex justify-center items-center flex-col'>
                <img src="/images/customer1.jpeg" alt="customer" class="rounded-full object-cover w-[120px] h-[120px]" />
                <p class='mt-6 max-w-sm text-center info-text'>The attention to detail and the quality of the product exceeded my expectations. Highly recommended!</p>
                <div class='mt-3 flex justify-center items-center gap-2.5'>
                  <img src="/icons/star.svg" width="24" height="24" alt="rating star" class="object-contain m-0" />
                  <p class='text-xl font-montserrat text-slate-gray'>(4.5)</p>
                </div>
                <h3 class='mt-1 font-palanquin text-3xl text-center font-bold'>
                    Morich Brown
                </h3>
            </div>
            <div class='flex justify-center items-center flex-col'>
                <img src="/images/customer2.svg" alt="customer" class="rounded-full object-cover w-[120px] h-[120px]" />
                <p class='mt-6 max-w-sm text-center info-text'>The product not only met but exceeded my expectations. I'll definitely be a returning customer!</p>
                <div class='mt-3 flex justify-center items-center gap-2.5'>
                  <img src="/icons/star.svg" width="24" height="24" alt="rating star" class="object-contain m-0" />
                  <p class='text-xl font-montserrat text-slate-gray'>(4.5)</p>
                </div>
                <h3 class='mt-1 font-palanquin text-3xl text-center font-bold'>
                    Lota Mongeskar
                </h3>
            </div>
        </div>
    </section>
</section>

<section class="padding-x sm:py-32 py-16 w-full">
    <section id="subscribe" class="max-container flex justify-between items-center max-lg:flex-col gap-10">
        <h3 class="text-4xl leading-[68px] lg:max-w-md font-palanquin font-bold">Sign Up for <span class="text-coral-red">Updates</span> & Newsletter</h3>
        <div class="lg:max-w-[40%] w-full flex items-center max-sm:flex-col gap-5 p-2.5 sm:border sm:border-slate-gray rounded-full">
            <input type="text" placeholder="subscribe@nike.com" class="input" />
            <div class="flex max-sm:justify-end items-center max-sm:w-full">
                <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-coral-red rounded-full text-white border-coral-red">Sign Up</button>
            </div>
        </div>
        
    </section>
</section>



