{{ define "main" }}
    <section class="max-container padding mx-auto w-full">
        <article class="">
            <div class="flex items-center gap-3">
                <!-- Icon-Box links -->
                <span class="flex h-10 w-10 shrink-0 items-center justify-center rounded border border-gray-400">
                    <a href="/partners" class="flex items-center justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            data-test-icon=""
                            width="20px"
                            height="20px"
                            class="text-text dark:text-icon-reversed dark:group-hover/button:text-icon-reversed dark:group-active/button:text-icon-reversed h-5 w-5 shrink-0 transition-colors">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                        </svg>
                    </a>
                </span>

                <!-- Text rechts daneben -->
                <div class="text-base font-bold text-gray-700">Back to Directory</div>
            </div>

            <div class="mt-16 flex w-full flex-col gap-12 md:flex-row">
                <!-- left -->
                <div class="flex w-full flex-col gap-4 md:w-80 md:max-w-80">
                    <div class="rounded-lg border border-gray-300">
                        <img
                            src="https://content.partnerpage.io/eyJidWNrZXQiOiJwYXJ0bmVycGFnZS5wcm9kIiwia2V5IjoibWVkaWEvY29udGFjdF9pbWFnZXMvMTFjMTJiZDQtOGFlMC00YTU5LTgwNzktMDIwNWY1ZWMzN2Y5L2ZhZDkyOGY4LWE5MmEtNDdkMi1hMTM2LTVhYTIyOGVjNTc3OC5wbmciLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6IndlYnAiLCJyZXNpemUiOnsid2lkdGgiOjIwMCwiaGVpZ2h0Ijo4MCwiZml0IjoiaW5zaWRlIiwiYmFja2dyb3VuZCI6eyJyIjoyNTUsImciOjI1NSwiYiI6MjU1LCJhbHBoYSI6MH19fX0="
                            alt="Feature Image"
                            class="mx-auto my-8 block h-20 w-48 object-contain" />
                        <div class="mb-8 mt-4 border-t border-gray-200 px-6">
                            <h3 class="!pt-6 pb-4 !text-xl tracking-tight">Upsmart</h3>
                            <span class="text-gray-600">Amsterdam, Netherlands</span>
                            <a href="#" class="mt-8 block rounded-lg bg-green-800 px-4 py-2 text-center font-bold text-white">Contact</a>
                            <a href="#" class="mt-2 block rounded-lg border border-gray-400 px-4 py-2 text-center font-bold text-gray-800">Website</a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-4 rounded-lg border border-gray-300 p-6">
                        <div>
                            <h3>Resources</h3>
                            <a href="#">Go to the Upsmart Website</a>
                        </div>

                        <div>
                            <h3>Industry</h3>
                            <ul class="list-disc pl-6">
                                <li>Automative</li>
                                <li>Banking</li>
                                <li>B2B</li>
                                <li>Call center</li>
                            </ul>
                        </div>

                        <div>
                            <h3>Region</h3>
                            <ul class="list-disc pl-6">
                                <li>Europe</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- max width of the blog posts is 768px -> image optimization -->
                <div class="w-full md:w-3/5">
                    <h2 class="mt-0 !pt-0 pb-4 text-3xl">About Upsmart</h2>

                    <p class="pb-4">
                        We believe everyone should spend as much time as possible on value-adding activities. With our extensive experience, we deeply understand sales processes
                        and identify efficiency improvements.
                    </p>
                    <p class="pb-4">
                        We implement Pipedrive, tailored to your sales process and integrated with existing systems. We train the team on proper usage and provide support when
                        needed.
                    </p>
                    <p class="pb-4">
                        Since 2016 Upsmart has been a Pipedrive Solution Provider. We are now the largest Pipedrive Solution Provider in the Benelux and have achieved the unique
                        Elite Partner status.
                    </p>

                    <h3 class="pb-4 pt-6 text-xl">Clients</h3>
                    <div class="grid grid-cols-3">
                        <img
                            src="https://content.partnerpage.io/eyJidWNrZXQiOiJwYXJ0bmVycGFnZS5wcm9kIiwia2V5IjoibWVkaWEvY2xpZW50cy8xMWMxMmJkNC04YWUwLTRhNTktODA3OS0wMjA1ZjVlYzM3ZjkvNmU0Mjg2MzQtNWMyMS00MGJiLWIyOWYtNTAyNzlmNjQ5NzdjLnBuZyIsImVkaXRzIjp7InRvRm9ybWF0Ijoid2VicCIsInJlc2l6ZSI6eyJ3aWR0aCI6NTYwLCJoZWlnaHQiOjQ4LCJmaXQiOiJpbnNpZGUiLCJiYWNrZ3JvdW5kIjp7InIiOjI1NSwiZyI6MjU1LCJiIjoyNTUsImFscGhhIjowfX19fQ==" />
                        <img
                            src="https://content.partnerpage.io/eyJidWNrZXQiOiJwYXJ0bmVycGFnZS5wcm9kIiwia2V5IjoibWVkaWEvY2xpZW50cy8xMWMxMmJkNC04YWUwLTRhNTktODA3OS0wMjA1ZjVlYzM3ZjkvOThkMTU2YzUtZTZkNS00MTNiLWJmOWEtNDU3MDU3MTRiMzcwLnBuZyIsImVkaXRzIjp7InRvRm9ybWF0Ijoid2VicCIsInJlc2l6ZSI6eyJ3aWR0aCI6NTYwLCJoZWlnaHQiOjQ4LCJmaXQiOiJpbnNpZGUiLCJiYWNrZ3JvdW5kIjp7InIiOjI1NSwiZyI6MjU1LCJiIjoyNTUsImFscGhhIjowfX19fQ==" />
                        <img
                            src="https://content.partnerpage.io/eyJidWNrZXQiOiJwYXJ0bmVycGFnZS5wcm9kIiwia2V5IjoibWVkaWEvY2xpZW50cy8xMWMxMmJkNC04YWUwLTRhNTktODA3OS0wMjA1ZjVlYzM3ZjkvODA4OTMwMmUtZjhmZS00ODliLTk2Y2UtNzE2NWJmNTMyYTdiLnBuZyIsImVkaXRzIjp7InRvRm9ybWF0Ijoid2VicCIsInJlc2l6ZSI6eyJ3aWR0aCI6NTYwLCJoZWlnaHQiOjQ4LCJmaXQiOiJpbnNpZGUiLCJiYWNrZ3JvdW5kIjp7InIiOjI1NSwiZyI6MjU1LCJiIjoyNTUsImFscGhhIjowfX19fQ==" />
                    </div>

                    <div class="mt-12 border-t"></div>
                </div>
            </div>
        </article>
    </section>
{{ end }}
