{{ define "main" }}
    <section class="max-container padding mx-auto w-full">
        <article class="">
            <div class="flex items-center gap-3">
                <!-- Icon-Box links -->
                <span class="flex h-10 w-10 shrink-0 items-center justify-center rounded border border-gray-400">
                    <a href="/partners" class="flex items-center justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            data-test-icon=""
                            width="20px"
                            height="20px"
                            class="text-text dark:text-icon-reversed dark:group-hover/button:text-icon-reversed dark:group-active/button:text-icon-reversed h-5 w-5 shrink-0 transition-colors">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                        </svg>
                    </a>
                </span>

                <!-- Text rechts daneben -->
                <div class="text-base font-bold text-gray-700">{{ T "partner.back_to_directory" }}</div>
            </div>

            {{ $partner := .Params.partner }}

            {{/* Accent color for partners with multiple partner types (e.g. hosting + solution) */}}
            {{ $accentColor := "bg-gray-500" }}

            {{ if eq (len $partner.partner_type) 1 }}
                {{ if eq (index $partner.partner_type 0) "Solution partner" }}
                    {{/* Info: The class names are also defined in the list.html template */}}
                    {{ $accentColor = "bg-green-800" }}
                {{ else if eq (index $partner.partner_type 0) "Service partner" }}
                    {{ $accentColor = "bg-blue-700" }}
                {{ else if eq (index $partner.partner_type 0) "Hosting partner" }}
                    {{ $accentColor = "bg-purple-700" }}
                {{ end }}
            {{ end }}


            <div class="mt-16 flex w-full flex-col gap-12 md:flex-row">
                <!-- left -->
                <div class="flex w-full flex-col gap-4 md:w-80 md:max-w-80">
                    <div class="rounded-lg border border-gray-300">
                        <span class="{{ $accentColor }} flex w-full flex-col gap-1 rounded-t-lg px-2 py-4 text-center font-poppins text-xl font-bold text-white">
                            {{ range $partner.partner_type }}
                                <span>{{ . }}</span>
                            {{ end }}
                        </span>

                        {{ with $partner.logo_path }}
                            <img src="{{ . }}" alt="{{ $partner.partner }}" class="mx-auto my-8 block h-20 w-48 object-contain" />
                        {{ end }}


                        <div class="mb-8 mt-4 flex flex-col gap-1 border-t border-gray-200 px-6">
                            <h3 class="!pt-6 pb-4 !text-xl tracking-tight">{{ $partner.partner }}</h3>
                            <span class="text-gray-600">
                                {{ $partner.company_address | .RenderString }}
                                <p>{{ $partner.country.country_region }}</p>
                            </span>
                            <a href="mailto:{{ $partner.contact_email }}" class="{{ $accentColor }} mt-8 block rounded-lg px-4 py-2 text-center font-bold text-white"
                                >{{ T "partner.contact" }}</a
                            >
                            <a
                                href="{{ $partner.company_website }}"
                                target="_blank"
                                class="mt-2 block rounded-lg border border-gray-400 px-4 py-2 text-center font-bold text-gray-800"
                                >{{ T "partner.website" }}</a
                            >
                        </div>
                    </div>
                    <div class="flex flex-col gap-4 rounded-lg border border-gray-300 p-6">
                        <div>
                            <h3>{{ T "partners.industry_expertise" }}</h3>
                            <ul class="list-disc pl-6 pt-1">
                                {{ range $partner.industry_expertise }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>

                        <div>
                            <h3>{{ T "partners.services" }}</h3>
                            <ul class="list-disc pl-6 pt-1">
                                {{ range $partner.support_areas }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>

                        <div>
                            <h3>{{ T "partners.language" }}</h3>
                            <ul class="list-disc pl-6 pt-1">
                                {{ range $partner.languages }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>

                    <div class="flex flex-col gap-4 rounded-lg border border-gray-300 p-6">
                        <h3>{{ T "partner.contact" }}</h3>
                        <div class="flex flex-col pl-2 text-sm">
                            <span class="pb-2 font-bold text-gray-600">{{ $partner.contact_name }}</span>
                            <span class="text-gray-600">{{ $partner.contact_position }}</span>
                            {{/* TODO: Spam protection? */}}
                            <span class="text-gray-600">{{ $partner.email_for_customer_inquiries }}</span>
                            <span class="text-gray-600">{{ $partner.phone_number_for_customer_inquiries }}</span>
                        </div>
                    </div>
                </div>

                <!-- max width of the blog posts is 768px -> image optimization -->
                <div class="w-full md:w-3/5">
                    <h2 class="mt-0 !pt-0 pb-4 text-3xl">{{ T "partner.about" }} {{ $partner.partner }}</h2>

                    {{ .Content }}

                    {{ if gt (len $partner.reference_customers) 0 }}
                        <h3 class="mt-12 border-t pb-4 pt-12 text-xl">{{ T "partner.customer_references" }}</h3>

                        <div class="grid grid-cols-1 items-start border-b pb-6 md:grid-cols-3">
                            {{ range $partner.reference_customers }}
                                <div class="flex justify-center md:justify-start">
                                    {{ with .logo_path }}
                                        <img src="{{ . }}" alt="" class="mx-auto my-8 block h-20 w-48 object-contain" />
                                    {{ end }}
                                </div>

                                <div class="flex flex-col justify-center space-y-4 md:col-span-2">
                                    <blockquote class="text-lg italic">{{ .highlight_quote }}</blockquote>
                                    <p class="text-right font-semibold md:text-left">— {{ .quote_giver }}, {{ .quote_giver_position }}</p>
                                </div>

                                <div class="mb-8 md:col-span-3">
                                    <p>{{ .main_text }}</p>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}

                </div>
            </div>
        </article>
    </section>
{{ end }}
