baseURL = 'https://162.55.214.220.sslip.io/'
theme = 'seatable'
title = 'SeaTable - no code no limit'

defaultContentLanguage = 'en'
enableGitInfo = true

[frontmatter]
  lastmod = ["lastmod", ":git", "date", "publishDate"]

[sitemap]
  changeFreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON", "post-sitemap", "page-sitemap"]

[outputFormats.post-sitemap]
  baseName  = 'post-sitemap'
  mediaType = 'application/xml'
  noUgly = true

[outputFormats.page-sitemap]
  baseName  = 'page-sitemap'
  mediaType = 'application/xml'
  noUgly = true
