src/public/*
src/resources/_gen/*
src/themes/seatable/assets/css/styles.output.css
src/themes/seatable/static/css/styles.css

**/node_modules/
**/.DS_Store
.DS_Store

.vscode/settings.json

# disable search
.env

# custom configuration to disable languages
src/config/development/hugo.toml