services:
    hugo:
        container_name: hugo
        # TODO: Replace with image hosted on DockerHub/GCR
        build: .
        environment:
            - HUGO_BACKEND_URL=http://localhost:3000
            - SEATABLE_INTERNAL_API_URL=http://localhost:8081
            - ENABLE_PAGEFIND=${ENABLE_PAGEFIND:-0}
            - ENABLE_TAILWIND=${ENABLE_TAILWIND:-1}
            # by default pagefind and tailwind is not activated (=0). To activate, you can create .env file with these environment variables.
        ports:
            - 127.0.0.1:1313:1313
        volumes:
            - ${PWD}:/hugo
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:1313']
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
