<header class="padding-x z-10 w-full py-8" x-data="{ mobileMenuOpen: false, productMenuOpen: false, solutionMenuOpen: false }">
    <nav class="max-container flex items-center justify-between">
        <!-- Logo -->
        <a href="{{ "/" | relLangURL }}"><img src="/images/seatable-logo.svg" alt="Logo" width="130" height="29" /></a>

        <!-- Hauptnavigation -->
        <ul class="flex flex-1 items-center justify-center gap-4 max-lg:hidden">
            {{ if .Site.Menus.main }}
                {{ range .Site.Menus.main }}
                    {{ partial "header/navigation-desktop.html" . }}
                {{ end }}
            {{ end }}
        </ul>

        <!-- Language, Login, Register -->
        <div class="flex items-center justify-between gap-2">
            {{ partial "header/registration-login-button.html" . }}
            {{ partial "header/language-switcher.html" . }}


            <!-- Mobile Menu-->
            <div class="hidden max-lg:block">
                <button @click="mobileMenuOpen = !mobileMenuOpen" aria-label="Toggle mobile menu">
                    <img src="/icons/hamburger.svg" alt="Hamburger" width="25" height="25" />
                </button>
            </div>
        </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div x-show="mobileMenuOpen" @click.away="mobileMenuOpen = false" id="mobile-menu" class="hidden max-lg:block">
        <div class="absolute top-0 left-0 w-full z-[99999] min-h-full bg-slate-200 p-9 text-right border-b">
        <button @click="mobileMenuOpen = !mobileMenuOpen" aria-label="Toggle mobile menu">
            <img src="/icons/xmark.svg" alt="Hamburger" width="16" height="16" />
        </button>
        <ul class="flex flex-col items-end gap-4 mt-4">
            {{ if .Site.Menus.main }}
                {{ range .Site.Menus.main }}
                    {{ partial "header/navigation-mobile.html" . }}
                {{ end }}
            {{ end }}
        </ul>
        <div class="flex flex-col text-center gap-4 mt-4 ">
            <a href="https://cloud.seatable.io"
                class="bg-white border text-black font-bold font-poppins py-2 px-4 rounded-lg">
                {{ T "navigation.login" }}
            </a>
            <a href='{{ with .Site.GetPage "registration" }}{{ .RelPermalink }}{{ end }}' 
                class="bg-gradient text-white font-bold font-poppins py-2 px-4 rounded-lg">
                {{ T "navigation.registration" }}
            </a>
        </div>
        
        </div>
    </div>
</header>
