<header class="padding-x py-8 z-10 w-full" x-data="{ mobileMenuOpen: false, productMenuOpen: false, solutionMenuOpen: false }">
    <nav class="flex justify-between items-center max-container">
        <!-- Logo -->
        <a href="/"><img src="/images/seatable-logo.svg" alt="Logo" width="130" height="29" /></a>

        <!-- Hauptnavigation -->
        <ul class="flex-1 flex justify-center items-center gap-8 max-lg:hidden text-gray-800">
            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            {{ partial "header/navigation-desktop.html" . }}
            {{ end }}
            {{ end }}
        </ul>

        <!-- Language, Login, Register -->
        <div class="flex justify-between items-center gap-2"> 
            {{ partial "header/registration-button.html" . }}
            {{ partial "header/language-switcher.html" . }}

            <!-- Mobile Menu-->
            <div class="hidden max-lg:block">
                <button @click="mobileMenuOpen = !mobileMenuOpen" aria-label="Toggle mobile menu">
                    <img src="/icons/hamburger.svg" alt="Hamburger" width="25" height="25" />
                </button>
            </div>
        </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div x-show="mobileMenuOpen" x-transition @click.away="mobileMenuOpen = false" id="mobile-menu" class="hidden max-lg:block">
        <ul class="flex flex-col items-end gap-4 bg-slate-100 p-4 text-right">
            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            {{ partial "header/navigation-mobile.html" . }}
            {{ end }}
            {{ end }}
        </ul>
    </div>

</header>



