{{ define "main" }}
    <section class="padding">
        <section id="galerie" class="max-container">
            <div class="mx-auto max-w-[800px] text-center">
                <h1 class="mb-3 text-4xl font-extrabold">{{ i18n "error.404_title" | emojify }}</h1>
                <p class="mb-12 mt-8 font-poppins text-2xl font-bold text-neutral-400 dark:text-neutral-500">
                    {{ T "error.404_error" | emojify }}
                </p>
                <div class="prose dark:prose-invert">
                    <p>{{ T "error.404_description" | emojify }}</p>
                </div>
            </div>
        </section>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // console.log(window.location.pathname + window.location.search);
            // das funktioniert so nicht, weil umleitung in caddy auf 404.
            umami.track('404', { url: window.location.pathname + window.location.search });
        });
    </script>
{{ end }}
