<div class="rounded-xl border shadow-xl hover:border-gray-400 hover:shadow-3xl">
    <a href="{{ .RelPermalink }}">
        <div class="flex items-center">
            {{- $images := .Resources.ByType "image" -}}
            {{- $featured := $images.GetMatch "feature*" -}}
            {{- with $featured -}}
                <img src="{{ .RelPermalink }}" alt="" class="max-h-[300px] w-full rounded-t-xl object-cover object-center" />
            {{ end }}
        </div>
        <div class="rounded-b-2xl px-8 py-12 transition-all duration-300 group-hover:bg-gray-50">
            <h2 class="text-3xl leading-normal">{{ .Title }}</h2>
            <p class="mt-4 text-xl leading-normal">{{ .Description }}</p>
            <p class="mt-8">{{ .Date | time.Format site.Params.dateFormat }}</p>
        </div>
    </a>
</div>
