{{ define "main" }}
<section class="max-container mx-auto padding w-full">
  <article class="">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}

      <div class="flex flex-col md:flex-row justify-left mt-6 gap-8 rounded-2xl" style="background-color: {{ .Params.backgroundColor }}">
        <div class="p-20 w-1/2">
            <h1 class="mt-0 text-56 font-extrabold text-neutral-900 dark:text-neutral text-center pt-8" style="letter-spacing: -1.25px; line-height: 1.1em; color:#393F49;font-size:48px;text-align:left;" >
                {{ .Title | emojify }}
            </h1>
            <p>{{ .Description }}</p>
            <p>{{ .Date.Format .Site.Params.dateFormat }}</p>
              
        </div>
        <div class="w-1/2">
        
        {{ $images := .Resources.ByType "image" }}
        {{ $featured := $images.GetMatch "feature*" }}
        {{ if $featured }}
          <img src="{{ $featured.RelPermalink }}" width="{{ $featured.Width }}" height="{{ $featured.Height }}" style="border-top-right-radius:12px; border-bottom-right-radius: 12px;" />
        {{ end }}
        </div>
      </div>

    </header>

    <!-- max-w-6xl mx-auto -->
    <div class="w-full flex md:flex-row justify-left mt-6 gap-8">

         <!-- Second section -->
        <div class="prose dark:prose-invert mt-6" style="width:30%;">
            {{ .TableOfContents }}
        </div>
    
        <div class="w-full prose dark:prose-invert mt-12" style="padding-left:60px;">
            {{ .Content }}

            <hr/>
            <p>
                TAGS: 
                {{ range .Site.Taxonomies.tags }}
                <a href="{{ .Page.Permalink }}"><span style="background-color: #e1e1e1; padding: 4px 8px; border-radius: 8px;">{{ .Page.Title }}</span></a>
                {{ end }}
              </p>
        </div>

    </div>

  </article>
</section>
{{ end }}
