{{ define "main" }}
    <section class="padding">
        <section class="max-container">
            <div class="mx-auto text-center">
                <h1 class="mt-1 text-8xl font-bold">{{ .Title }}</h1>
            </div>

            <div class="mt-14 flex flex-col">
                
                <div id="container" class="flex flex-col w-full justify-between">
                    {{ range $index, $page := .Pages }}
                      {{ if eq $index 0 }}
                        <!-- First item -->
                        <a href="{{ .RelPermalink }}">
                        <div class="flex p-0 justify-between rounded-xl shadow-xl" style="background-color: {{ $page.Params.color | default "#ffffff" }}">
                            <div class="flex flex-col w-1/2 p-16 justify-center">
                                <h2 class="text-4xl">{{ $page.Title }}</h2>
                                <p class="mt-6 text-xl leading-normal">{{ $page.Description }}</p>
                                <p class="mt-12">{{ $page.Date | time.Format site.Params.dateFormat }}</p>
                            </div>
                            <div class="w-2/5">
                                {{- $images := .Resources.ByType "image" -}}
                                {{- $featured := $images.GetMatch "feature*" -}}
                                {{- with $featured -}}
                                  <img src="{{ .RelPermalink }}" class="rounded-xl" />
                                {{ end }}
                            </div>
                        </div>
                        </a>

                        <!-- Category-List -->
                        <div class="mt-14">
                            <ul class="flex flex-wrap flex-row gap-6">
                                <li><a class="bg-blue-200 px-6 py-3 rounded-xl font-poppins text-xl border border-blue-950 text-blue-950" href="posts">All<span class="ml-2 bg-gray-900 rounded-3xl px-3 py-1 text-base text-white">12</span></a></li>
                            {{ range .Site.Taxonomies.categories }}
                                <li>
                                    <a class="bg-blue-200 px-6 py-3 rounded-xl font-poppins text-xl text-blue-950" href="{{ .Page.Permalink }}">{{ .Page.Title }}<span class="ml-2 bg-gray-900 rounded-3xl px-3 py-1 text-base text-white">{{ .Count }}</span></a> 
                                    
                                </li>
                            {{ end }}
                            </ul>
                        </div>

                      {{ else if or (eq $index 1) (eq $index 2) }}
                        <!-- Second and third items in a row -->
                        {{ if eq $index 1 }}
                        <div class="flex gap-12 flex-col lg:flex-row mt-14">
                        {{ end }}
                            {{ partial "article-link/card.html" $page }}
                        {{ if eq $index 2 }}
                        </div>
                        {{ end }}

                      {{ else }}
                        <!-- Three items per row -->
                        {{ if modBool $index 3 }}
                        <div class="flex justify-between mt-14">
                        {{ end }}
                            {{ partial "article-link/card.html" $page }}
                        {{ if modBool (add $index 1) 3 }}
                        </div>
                        {{ end }}
                      {{ end }}

                    {{ end }}
                  </div>
            </div>
        </section>
    </section>
{{ end }}
