<header class="padding-x py-8 absolute z-10 w-full">
    <nav class="flex justify-between items-center max-container">
        <a href="/"><img src="/images/header-logo.svg" alt="Logo" width="130" height="29" /></a>
        <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
            <li key="Home"><a href="/" class="font-montserrat leading-normal text-lg text-slate-gray">{{ T "nav_home" }}</a></li>
            <li key="About Us"><a href="about" class="font-montserrat leading-normal text-lg text-slate-gray">{{ T "nav_about" }}</a></li>
            <li key="Products"><a href="#" class="font-montserrat leading-normal text-lg text-slate-gray">{{ T "nav_products" }}</a></li>
            <li key="Contact Us"><a href="#" class="font-montserrat leading-normal text-lg text-slate-gray">{{ T "nav_contact" }}</a></li>
            <li key="Sign in"><a href="#" class="font-montserrat leading-normal text-lg text-slate-gray">{{ T "nav_signin" }}</a></li>
        </ul>
        <div class="hidden max-lg:block">
            <img src="/icons/hamburger.svg" alt="Hamburger" width="25" height="25" />
        </div>
        {{ partial "language-switcher.html" . }}
    </nav>
</header>


<!--<h1>{{ site.Title }}</h1>-->
<!--{{ partial "menu.html" (dict "menuID" "main" "page" .) }}-->
