{{ $link := .link }}
{{ $external := false }}

{{- if findRE "^https?" .link }}
    {{ $external = true }}
{{ else }}
    {{ $link = page.GetPage .link }}
    {{ if not $link }}
        {{ errorf "[content-1] Page %s does not exist!" .link }}
    {{ end }}
    {{ $link = $link.RelPermalink }}
{{- end -}}

{{ if eq .style "primary" }}
    <a
        class="bg-gradient rounded-xl px-7 py-4 font-poppins text-lg font-bold text-white"
        href="{{ $link }}"
        {{ if $external }}target="_blank" rel="nofollow"{{ end }}
        >{{ .label }}</a
    >
{{ else if eq .style "text" }}
    <div class="flex">
        <a href="{{ $link }}" {{ if $external }}target="_blank" rel="nofollow"{{ end }}>{{ .label }}</a>
        {{ partial "icon.html" "arrow-right" }}
    </div>
{{ else }}
    <a
        class="rounded-xl border border-seatable-blue bg-white px-7 py-4 font-poppins text-lg font-bold text-gray-800"
        href="{{ $link }}"
        {{ if $external }}target="_blank" rel="nofollow"{{ end }}
        >{{ .label }}</a
    >
{{ end }}
