{{ $link := .link }}
{{ $external := false }}

{{- if findRE "^https?" .link }}
    {{ $external = true }}
{{ else }}
    {{ $link = page.GetPage .link }}
    {{ if not $link }}
        {{ errorf "Page %s does not exist!" .link }}
    {{ end }}
    {{ $link = $link.RelPermalink }}
{{- end -}}

{{ if eq .style "primary" }}
    <a
        class="bg-gradient {{ .extra_class | default "" }} rounded-xl px-7 py-4 font-poppins text-lg font-bold text-white"
        href="{{ $link }}"
        {{ if $external }}target="_blank" rel="nofollow"{{ end }}
        {{ with .id }}id="{{ . }}"{{ end }}
        data-umami-event="{{ .data-umami-event | default "" }}"
        >{{ .label }}</a
    >
    <!-- TODO: Add icon for external links -->
    <!-- TODO: Add icon to render-link.html -->
{{ else if eq .style "text" }}
    <div class="flex items-center gap-1">
        <a
            href="{{ $link }}"
            {{ if $external }}target="_blank" rel="nofollow"{{ end }}
            {{ with .id }}id="{{ . }}"{{ end }}
            class="{{ .extra_class | default "" }}"
            data-umami-event="{{ .data-umami-event | default "" }}"
            >{{ .label }}</a
        >
        {{ partial "icon.html" "arrow-right" }}
    </div>
{{ else }}
    <a
        class="{{ .extra_class | default "" }} box-border inline-block whitespace-normal rounded-xl border border-seatable-blue bg-white px-7 py-4 font-poppins text-lg font-bold text-gray-800"
        data-umami-event="{{ .data-umami-event | default "" }}"
        href="{{ $link }}"
        {{ if $external }}target="_blank" rel="nofollow"{{ end }}
        {{ with .id }}id="{{ . }}"{{ end }}>
        {{ .label }}
        {{ if $external }}
            <svg class="mb-1 ml-1 inline h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    fill="currentColor"
                    d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z" />
            </svg>
        {{ end }}
    </a>
{{ end }}
