<section class="padding">
    <section class="max-container">
        <div class="mx-auto max-w-[800px]">
            <h1 class="gradient text-center font-poppins text-4xl font-bold">Taxonomies</h1>

            {{ range $taxonomyName, $taxonomy := site.Taxonomies }}
                <h2 class="mt-12 text-2xl font-bold"><a href="{{ "/" | relLangURL }}{{ $taxonomyName | urlize }}">{{ $taxonomyName }}</a></h2>
                <ul>
                    {{ range $term, $termData := $taxonomy }}
                        <details>
                            <summary class="cursor-pointer"><h3 class="mt-3 inline-block">{{ $term }} ({{ $termData.Pages.Len }})</h3></summary>
                            <ul class="list-disc">
                                {{ range $termData.Pages }}
                                    <li class="ml-8">
                                        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </details>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </section>
</section>
