{{ $ctx := . }}
{{ $items := slice }}

{{ range $i := seq 1 4 }}
    {{ $title := $ctx.Get (printf "title%d" $i) }}
    {{ if $title }}
        {{ $text := $ctx.Get (printf "text%d" $i) | markdownify }}
        {{ $id := $ctx.Get (printf "id%d" $i) | default (printf "%d" $i) }}
        {{ $img := $ctx.Get (printf "img%d" $i) | default "" }}

        {{ if and $img (not (hasPrefix $img "http")) }}
            {{ $resource := $.Page.Resources.GetMatch $img }}
            {{ if $resource }}
                {{ $img = $resource.RelPermalink }}
            {{ end }}
        {{ end }}

        {{ $item := dict "title" $title "text" $text "id" $id "img" $img }}
        {{ $items = $items | append $item }}
    {{ end }}
{{ end }}

{{ if gt (len $items) 0 }}
    <div
        class="0 relative mb-8 flex h-auto min-h-[400px] flex-col items-center justify-center rounded-xl bg-gray-50 lg:min-h-72"
        x-data="{ activeSlide: '{{ (index $items 0).id }}', slides: {{ $items | jsonify }} }">
        <!-- Slides -->
        <template x-for="slide in slides" :key="slide.id">
            <div
                x-show="activeSlide === slide.id"
                x-transition:enter="transition ease-out duration-500"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="absolute inset-0 flex p-4 pr-12"
                style="will-change: opacity;">
                <div class="flex flex-col items-center gap-8 overflow-hidden lg:flex-row">
                    <div class="w-1/3 items-center">
                        <img :src="slide.img" alt="" />
                    </div>
                    <div class="w-2/3 text-left">
                        <h4 class="gradient mb-0 mt-0 !pt-0 font-poppins text-2xl" x-text="slide.title"></h4>
                        <div class="mt-2 text-base leading-normal text-black" x-html="slide.text"></div>
                    </div>
                </div>
            </div>
        </template>

        <!-- Prev/Next Arrows -->
        <div class="pointer-events-none absolute inset-0 flex">
            <button
                class="pointer-events-auto absolute left-2 top-1/2 -translate-y-1/2 rounded-full bg-white bg-opacity-50 p-3 text-xl font-bold text-teal-700 shadow hover:bg-opacity-80"
                x-on:click="
        let currentIndex = slides.findIndex(s => s.id === activeSlide);
        activeSlide = slides[(currentIndex === 0 ? slides.length : currentIndex) - 1].id;
      "
                aria-label="Previous Slide">
                ‹
            </button>

            <button
                class="pointer-events-auto absolute right-2 top-1/2 -translate-y-1/2 rounded-full bg-white bg-opacity-50 p-3 text-xl font-bold text-teal-700 shadow hover:bg-opacity-80"
                x-on:click="
        let currentIndex = slides.findIndex(s => s.id === activeSlide);
        activeSlide = slides[(currentIndex === slides.length -1 ? -1 : currentIndex) + 1].id;
      "
                aria-label="Next Slide">
                ›
            </button>
        </div>

        <!-- Slide indicators -->
        <div class="absolute bottom-2 left-1/2 flex -translate-x-1/2 space-x-2">
            <template x-for="slide in slides" :key="slide.id">
                <button
                    class="h-2 w-6 rounded-full transition-colors duration-300"
                    :class="activeSlide === slide.id ? 'bg-seatable-blue' : 'bg-gray-200 hover:bg-seatable-blue'"
                    x-on:click="activeSlide = slide.id"
                    :aria-label="'Slide ' + slide.title"></button>
            </template>
        </div>
    </div>
{{ else }}
    <p>No slides defined.</p>
{{ end }}
