{{ $faqItems := split .Inner "---" }}
<div class="mx-auto mb-6 mt-4 grid max-w-[900px] grid-cols-1">
    {{ range $index, $item := $faqItems }}
        {{ $parts := split $item "|||" }}
        {{ if ge (len $parts) 2 }}
            <div class="{{ if ne $index (sub (len $faqItems) 1) }}border-b border-gray-200{{ end }} cursor-pointer p-6" x-data="{ open: false }" @click="open = !open">
                <dt class="flex items-center justify-between" aria-controls="faq-{{ $index }}">
                    <p class="font-poppins text-xl font-bold leading-normal" :class="{ 'gradient': open }">
                        {{ index $parts 0 | markdownify }}
                    </p>
                    {{ partial "icon.html" "chevron-up" }}
                </dt>
                <dd class="mt-6 text-lg" x-show="open" x-collapse x-transition>
                    <p class="leading-normal">{{ index $parts 1 | markdownify }}</p>
                </dd>
            </div>
        {{ end }}
    {{ end }}
</div>
