{{ $lang := site.Language.Lang }}
{{ $dataKey := .Get "data" | default "" }}
{{ $hotspots := index site.Data $lang $dataKey }}


<!-- support relref -->
{{ $page := . }}
{{ $hotspotsOut := slice }}
{{ range $hotspot := $hotspots }}
    {{ $link := $hotspot.link }}
    {{ if $link }}
        {{ $link = relref $page $link }}
    {{ end }}
    {{ $description_html := $hotspot.description | markdownify }}
    {{ $hotspot = merge $hotspot (dict
        "link" $link
        "description" $description_html
        )
    }}
    {{ $hotspotsOut = $hotspotsOut | append $hotspot }}
{{ end }}

{{ if $hotspotsOut }}
    <section class="max-container mx-auto py-4">
        <div
            class="relative"
            x-data="{
            hotspots: {{ $hotspotsOut | jsonify }},
            active: null
        }">
            <img src="{{ .Get "image" }}" alt="{{ .Get "alt" }}" class="w-full border" />

            <!-- Overlay for click-away, only shown if a box is open -->
            <div x-show="active !== null" @click="active = null" class="fixed inset-0" style="background: transparent"></div>

            <template x-for="(spot, i) in hotspots" :key="spot.label">
                <div
                    :class="`absolute flex flex-col items-center ${active === i ? 'z-50' : 'z-10'}`"
                    :style="`left: ${spot.x}%; top: ${spot.y}%; transform: translate(-50%, -50%);`">
                    <!-- Hotspot button -->
                    <button x-ref="'hotspot' + i" class="relative flex h-4 w-4 rounded-full bg-sky-600 opacity-75" @click.stop="active = i">
                        <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-600 opacity-75 [animation-duration:2s]"></span>
                    </button>
                    <!-- Info box -->
                    <div
                        x-show="active === i"
                        x-anchor="$refs['hotspot' + i].right"
                        x-transition
                        :class="`absolute min-w-[280px] rounded-lg border bg-white shadow-lg hover:bg-gray-50 hover:shadow-xl ${spot.x < 50 ? 'left-10' : 'right-10'}`">
                        <a
                            :href="spot.link"
                            class="block rounded-lg p-4 text-blue-600 underline hover:bg-gray-50 hover:shadow-xl focus:outline-none"
                            style="text-decoration: none;"
                            tabindex="0">
                            <p class="mb-2 text-base font-bold" x-text="spot.label"></p>
                            <p class="mb-2 text-sm" x-html="spot.description"></p>
                        </a>
                    </div>
                </div>
            </template>
        </div>
    </section>
{{ end }}
