<div class="my-4 rounded-xl bg-seatable-blue p-12 text-left">
    {{ if .Get "subtitle" }}
        <div class="gradient font-poppins text-lg font-bold">{{ .Get "subtitle" }}</div>
    {{ end }}


    <div class="font-poppins text-4xl font-bold leading-none tracking-tight text-white">{{ or ( .Get "title") ( T "newsletter-subscribe.inner" ) }}</div>
    {{ if .Inner }}
        <div class="pt-6 text-lg text-gray-200">{{ .Inner | markdownify }}</div>
    {{ else }}
        <div class="pt-6 text-lg text-gray-200">{{ T "newsletter-subscribe.inner" }}</div>
    {{ end }}


    <div x-data="newsletterForm()">
        <form @submit.prevent="submitForm" method="POST">
            <div class="mt-12 flex gap-x-4">
                <!-- Honeypot -->
                <label class="absolute left-0 top-0 -z-10 h-0 w-0 opacity-0" for="name"></label>
                <input class="absolute left-0 top-0 -z-10 h-0 w-0 opacity-0" autocomplete="off" type="text" name="name" placeholder="Your name here" x-model="name" />
                <!-- Webform -->
                <label for="email" class="sr-only">Email address</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    required
                    placeholder="{{ T "registration.email_placeholder" }}"
                    x-model="email"
                    @input="validateEmail"
                    autocomplete="email"
                    class="block w-full rounded-md bg-gray-50 px-3.5 py-4 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600" />

                <button
                    type="submit"
                    class="bg-gradient flex items-center justify-center whitespace-nowrap rounded-lg px-5 py-3 text-center font-poppins text-lg font-bold text-white"
                    {{ if .Get "submit" }}
                        x-init="buttonText = $el.innerText.trim()"
                    {{ end }}
                    x-bind:disabled="isSubmitting"
                    x-html="buttonText">
                    {{ or (.Get "submit") (T "newsletter-subscribe.submit") }}
                </button>
            </div>

            <!-- Success/Error Messages -->
            <p x-text="errors.email" class="error pt-1 font-poppins !text-sm font-bold text-red-500"></p>
        </form>
    </div>
</div>
