<section class="padding">
    <section id="xxx" class="max-container">
        <p class="text-2xl font-bold font-poppins gradient">Warum SeaTable?</p>
        <h2 class="mt-1 text-4xl font-bold">Entdecken Sie die Vorteile der SeaTable No-Code-Plattform</h2>

        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-16"> 
            <div>
                <i class="fa-solid fa-wand-magic-sparkles text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Kein Code, volle Flexibilität</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Verabschieden Sie sich von komplexen Programmiervorgängen. Selbst die anspruchsvollen Prozesse lassen sich auf einer einfachen Drag-and-Drop-Oberfläche erstellen.</p>
            </div>
            <div>
                <i class="fa-solid fa-flask text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Vielseitiger App-Builder</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Apps selbst erstellen – maßgeschneidert für Ihr Geschäftsmanagement, Ihre Kundenbindung und vieles mehr, perfekt auf die Bedürfnisse Ihres Unternehmens abgestimmt.</p>
            </div>
            <div>
                <i class="fa-solid fa-sack-dollar text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Kosteneffektiv</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Apps selbst erstellen – maßgeschneidert für Ihr Geschäftsmanagement, Ihre Kundenbindung und vieles mehr, perfekt auf die Bedürfnisse Ihres Unternehmens abgestimmt.</p>
            </div>
            <div>
                <i class="fa-solid fa-star text-2xl gradient"></i>
                <h3 class="font-bold text-2xl mt-3">Benutzerfreundlich</h3>
                <p class="mt-4 mb-8 text-lg leading-normal">Unsere Low-Code/No-Code Plattform ist sowohl für Programmierer als auch für Citizen Developer konzipiert und macht die App-Erstellung für alle zugänglich.</p>
            </div>
        </div>
    </section>
</section>