<section class="padding">
    <section id="faq">
        <div class="mx-auto text-center max-w-[900px] mb-24">
            <h2 class="text-4xl font-bold mt-1 leading-narrow">Häufig gestellte Fragen zur SeaTable No-Code-Lösung
            </h2>
        </div>

        <div class="grid grid-cols-1 mx-auto max-w-[900px] mt-4">
            <div class="cursor-pointer rounded-xl border border-gray-200 bg-gray-50 p-6">
                <dt class="flex justify-between items-center" aria-controls="faq-1">
                    <p class="font-poppins font-bold text-lg">Is Desktop for me?</p>
                    <i class="fa-solid fa-chevron-up -rotate-180 transition-transform"></i>
                </dt>
                <dd id="faq-1" class="hidden text-lg mt-6">
                    <p class="leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nisi quasi, maiores, architecto sapiente odio repellat incidunt expedita
                        possimus doloremque cupiditate quia fuga corporis error! Voluptate quo quod doloribus totam.
                    </p>
                </dd>
            </div>
        </div>
        <div class="grid grid-cols-1 mx-auto max-w-[900px] mt-4">
            <div class="cursor-pointer rounded-xl border border-gray-200 bg-gray-50 p-6">
                <dt class="flex justify-between items-center" aria-controls="faq-2">
                    <p class="font-poppins font-bold text-lg">Is Desktop for me?</p>
                    <i class="fa-solid fa-chevron-up -rotate-180 transition-transform"></i>
                </dt>
                <dd id="faq-2" class="hidden text-lg mt-6">
                    <p class="leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nisi quasi, maiores, architecto sapiente odio repellat incidunt expedita
                        possimus doloremque cupiditate quia fuga corporis error! Voluptate quo quod doloribus totam.
                    </p>
                </dd>
            </div>
        </div>
    </section>
</section>