<section class="padding" id="{{ .name }}">
    <section class="max-container text-left">
        <h1 class="text-5xl">Headline 1</h1>
        <h2 class="text-3xl mt-7 gradient">Headline 2: text-3xl mt-7 gradient</h2>
        <h3 class="text-2xl mt-6">Headline 3</h3>
        <h4 class="text-xl mt-5">Headline 4</h4>
        <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, maxime!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, porro? Sint, facilis nesciunt. Nostrum itaque, mollitia ipsam error reprehenderit expedita!</p>

        <h2 class="text-3xl mt-7">Headline 2</h2>
        <p class="font-robotoMono mt-4"><pre class="bg-gray-200 p-4 rounded-xl text-sm">
.roboto-<uniquifier> {
    font-family: "Roboto-Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}</pre></p>

    </section>
</section>