<section class="padding" id="{{ .name }}">
    <section class="max-container text-left">
        <h1 class="text-5xl">Headline 1</h1>
        <h2 class="text-3xl">Headline 2</h2>
        <h3 class="text-2xl">Headline 3</h3>
        <h4 class="text-xl">Headline 4</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, maxime!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, porro? Sint, facilis nesciunt. Nostrum itaque, mollitia ipsam error reprehenderit expedita!</p>

        <h2 class="text-3xl">Headline 2</h2>
        <p class="font-robotoMono text-base">
            .roboto-<uniquifier> {
                font-family: "Roboto", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-variation-settings:
                "wdth" 100;
            }
        </p>

    </section>
</section>