<section class="padding">
    <section id="kontaktanfrage" class="max-container">
        <div class="mx-auto max-w-[800px] text-center">
            <p class="gradient font-poppins text-2xl font-bold">{{ .subtitle }}</p>
            {{ if eq .weight 1 }}
                <h1 class="mt-1 text-4xl font-bold">{{ .title }}</h1>
            {{ else }}
                <h2 class="mt-1 text-4xl font-bold">{{ .title }}</h2>
            {{ end }}
            <p class="mt-12 text-lg leading-normal">
                {{ .description }}
            </p>
        </div>

        <div x-data="contactForm()">
            <form @submit.prevent="submitForm" method="POST" class="mx-auto mt-16 max-w-2xl sm:mt-20">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div class="sm:col-span-2">
                        <label class="text-md block font-bold">Anliegen{{/* T "contact.first_name" */}}</label>
                        <div class="mt-2.5">
                            <label><input type="radio" name="type" value="support" x-model="type" class="mx-2.5" required />Ich brauche Support</label><br />
                            <label><input type="radio" name="type" value="sales" x-model="type" class="mx-2.5" required />Ich wünsche ein Angebot</label><br />
                            <label
                                ><input type="radio" name="type" value="question" x-model="type" class="mx-2.5" required />Ich habe eine Frage und möchte Kontakt aufnehmen</label
                            >
                        </div>
                    </div>

                    <div x-show="type == 'support'" class="sm:col-span-2">
                        <p>
                            Sie haben kein SeaTable-Enterprise-Abonnement?<br />
                            Dann nutzen Sie bitte unser <a href="https://forum.seatable.com" target="_blank" rel="nofollow">Community-Forum</a>.
                        </p>

                        <p class="mt-4">
                            Als Enterprise-Kunde können Sie Tickets direkt in der
                            <a href="https://account.seatable.com/support" target="_blank" rel="nofollow">Teamverwaltung</a> anlegen.
                        </p>
                    </div>

                    <div>
                        <label for="first-name" class="text-md block font-bold">{{ T "contact.first_name" }}</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="first-name"
                                id="first-name"
                                autocomplete="given-name"
                                x-model="firstname"
                                required
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-700 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div>
                        <label for="last-name" class="text-md block font-bold">{{ T "contact.last_name" }}</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="last-name"
                                id="last-name"
                                autocomplete="family-name"
                                x-model="lastname"
                                required
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-700 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="company" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.company" }}</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="company"
                                id="company"
                                autocomplete="organization"
                                x-model="company"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="email" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.email" }}</label>
                        <div class="mt-2.5">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                autocomplete="email"
                                x-model="email"
                                @input="validateEmail"
                                required
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                            <p x-text="errors.email" class="error"></p>
                        </div>
                    </div>

                    {{/* Sales */}}
                    <div x-show="type == 'sales'" class="sm:col-span-2">
                        <label for="org_type" class="block text-sm/6 font-semibold text-gray-900">Organisationstyp</label>
                        <div class="mt-2.5">
                            <select id="org_type" x-model="orgType">
                                <option value="business">Unternehmen (for-profit)</option>
                                <option value="education">Bildung (non-profit)</option>
                                <option value="research">Forschung (non-profit)</option>
                                <option value="public-sector">Öffentlicher Sektor (non-profit)</option>
                                <option value="other">Anderer Organisationstyp (non-profit)</option>
                            </select>
                        </div>
                    </div>
                    <div x-show="type == 'sales'">
                        <label for="phone" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.phone" }} Telefonnummer (optional)</label>
                        <div class="mt-2.5">
                            <input
                                type="tel"
                                name="phone"
                                id="phone"
                                x-model="phone"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                            <p>Eine Telefonnummer ermöglicht uns besonders schnelle Rückfragen.</p>
                        </div>
                    </div>
                    <div x-show="type == 'sales'">
                        <label for="url" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.url" }} URL (optional)</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="url"
                                id="url"
                                x-model="url"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div x-show="type == 'sales'" class="sm:col-span-2">
                        <label for="address" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.url" }} Adresse (optional)</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="address"
                                id="address"
                                x-model="address"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div x-show="type == 'sales'">
                        <label for="country" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.country" }} Land (optional)</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="country"
                                id="country"
                                x-model="country"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div x-show="type == 'sales'">
                        <label for="vat_id" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.vat_id" }} VAT-ID (optional)</label>
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="vat_id"
                                id="vat_id"
                                x-model="vatId"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </div>
                    <div x-show="type == 'sales'">
                        {{/* FIXME: Field is required, at least one must be filled out */}}
                        <label class="block text-sm/6 font-semibold text-gray-900">Produkte (Mehrfachauswahl möglich)</label>
                        <div class="mt-2.5">
                            <label><input type="checkbox" name="type" value="cloud" x-model="products" class="mx-2.5" />SeaTable Cloud</label><br />
                            <label><input type="checkbox" name="type" value="dedicated" x-model="products" class="mx-2.5" />SeaTable Dedicated</label><br />
                            <label><input type="checkbox" name="type" value="server" x-model="products" class="mx-2.5" />SeaTable Server</label>
                        </div>
                    </div>
                    <div x-show="type == 'sales'">
                        <label for="preferredLanguage" class="block text-sm/6 font-semibold text-gray-900">Bevorzugte Sprache</label>
                        <div class="mt-2.5">
                            <select id="preferredLanguage" x-model="preferredLanguage">
                                <option value="de">Deutsch</option>
                                <option value="en">Englisch</option>
                                <option value="fr">Französisch</option>
                                {{/* TODO: Other options? */}}
                            </select>
                        </div>
                    </div>

                    {{/* Question */}}
                    <div x-show="type == 'question'" class="sm:col-span-2">
                        <label for="reason" class="block text-sm/6 font-semibold text-gray-900">Grund Ihrer Anfrage</label>
                        <div class="mt-2.5">
                            <select id="reason" x-model="reason">
                                <option value="bug-report">Fehlerbericht</option>
                                <option value="security">Datenschutz und Sicherheit</option>
                                <option value="partner-request">Partneranfrage</option>
                                <option value="other">Etwas anderes</option>
                            </select>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="message" class="block text-sm/6 font-semibold text-gray-900">{{ T "contact.message" }}</label>
                        <div class="mt-2.5">
                            <textarea
                                name="message"
                                id="message"
                                x-model="message"
                                rows="4"
                                :placeholder="type == 'sales' ? 'Hier wäre es hilfreich, wenn Sie bereits die Anzahl der Benutzer und die Lizenzperiode angeben würden.' : ''"
                                class="block w-full rounded-md bg-gray-50 px-3.5 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Honeypot -->
                <label class="absolute left-0 top-0 -z-10 h-0 w-0 opacity-0" for="name"></label>
                <input class="absolute left-0 top-0 -z-10 h-0 w-0 opacity-0" autocomplete="off" type="text" name="name" placeholder="Your name here" x-model="name" />

                <div class="mt-10">
                    <button
                        type="submit"
                        x-bind:disabled="isSubmitting"
                        x-html="buttonText"
                        class="bg-gradient flex w-full justify-center gap-4 rounded-lg p-4 font-poppins font-bold text-white">
                        {{ T "contact.submit" }}
                    </button>
                </div>

                <!-- Success/Error Messages -->
                <p x-show="errorMessage" x-text="errorMessage" class="mt-4 text-center text-red-500"></p>
            </form>
        </div>
    </section>
</section>
