<section class="padding" id="hero-4">
    <section class="max-container">
        <div class="mx-auto max-w-[800px] text-center">
            <h1 class="gradient mt-1 text-3xl font-bold !leading-narrow sm:text-5xl">{{ .title }}</h1>
            <p class="mt-12 text-2xl leading-normal">{{ .description }}</p>
        </div>
        {{ if .buttons }}
            <div class="mx-auto mt-16 text-center">
                {{ range .buttons }}
                    {{ partial "content-blocks/helpers/button.html" . }}
                {{ end }}
            </div>
        {{ end }}
    </section>
</section>
