<div class="absolute inset-x-0 top-[-120px]" style="z-index:-10">
    <img class="nozoom m-0 h-[2000px] w-full object-cover" src="/img/seatable-waves-background-scaled.jpg" alt="waves background" role="presentation" style="margin:0" />
</div>

<section class="padding">
    <section id="customers" class="max-container">
        <div class="mx-auto mb-8 max-w-[800px] text-center">
            <h2 class="gradient text-8xl md:text-9xl">
                <span class="mr-0 md:mr-24">{{ .h2_left | safeHTML }}</span><br /><span class="ml-0 md:ml-24">{{ .h2_right | safeHTML }}</span>
            </h2>
            <h1 class="mt-8 text-2xl">{{ .h1 }}</h1>
            {{ if .description }}
                <p class="mt-12 text-lg leading-normal">{{ .description | markdownify }}</p>
            {{ end }}

            {{ if .buttons }}
                <div class="mx-auto mt-16 flex justify-center gap-4 text-center">
                    {{ range .buttons }}
                        {{ partial "content-blocks/helpers/button.html" . }}
                    {{ end }}
                </div>
            {{ end }}
        </div>

        {{ if .image }}
            <img src="{{ .image }}" class="mt-24 rounded-md shadow-lg" />
        {{ end }}
    </section>
</section>
