<section class="padding">
    <section class="max-container">
        <div class="mx-auto mb-8 text-center">
            <h1 class="gradient text-8xl">{{ .title }}</h1>
            <p class="mx-auto mt-8 max-w-3xl text-xl font-bold leading-normal">{{ .description }}</p>

            {{ with .button }}
                <div class="mt-12 text-center">
                    <a href="{{ .url }}" class="rounded-xl border border-seatable-blue bg-white px-7 py-4 font-poppins font-bold text-gray-800">{{ .label }}</a>
                </div>
            {{ end }}

        </div>
    </section>
</section>
