<!-- color header -->
<div class="absolute inset-x-0 top-[-120px]" style="z-index:-10">
    <div class="w-full h-[1000px] m-0 bg-[#ece5e2] " role="presentation" style="margin:0">&nbsp;</div>
</div>

<section class="padding">
    <section id="customers" class="max-container">
        <div class="mx-auto text-center max-w-[800px] mb-12">
            <p class="text-2xl font-bold font-poppins gradient">{{ .subtitle }}</p>
            <h1 class="mt-1 text-5xl font-bold leading-[1.1em]">{{ .title }}</h1>
        </div>
        <div class="w-full max-container bg-red-200  absolute">
            <img src="/images/customer1.jpeg" alt="xxx" width="300" height="300" class="mx-auto" />
        </div>
    </section>
</section>
