
<section class="padding">

    <section id="specialoffer" class="flex justify-wrap items-center max-lg:flex-col-reverse gap-10 max-container">
        
        <div class="flex-1">
            <img src="/images/offer.svg" alt="our offer" width="773" height="687" class="object-contain w-full" />
        </div>

        <div class="flex flex-1 flex-col">
            <h2 class="font-palanquin text-4xl capitalized font-bold lg:max-w-lg"><span class="text-coral-red">Special</span> Offer</h2>
            <p class="mt-4 lg:max-w-lg info-text">Embark on a shopping journey that redefines your experience with
                unbeatable deals. From premier selections to incredible savings, we
                offer unparalleled value that sets us apart.</p>
            <p class="mt-6 lg:max-w-lg info-text">Navigate a realm of possibilities designed to fulfill your unique
                desires, surpassing the loftiest expectations. Your journey with us is
                nothing short of exceptional.</p>
            <div class="mt-11 flex flex-wrap gap-4">
                <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-coral-red rounded-full text-white border-coral-red">Shop now <img class="ml-2 rounded-full w-5 h-5" src="/icons/arrow-right.svg" alt="arrow right icon"/></button>
                <button class="flex justify-center items-center gap-2 px-7 py-4 border font-montserrat text-lg leading-none bg-white rounded-full border-slate-gray text-slate-gray">Learn more </button>
            </div>

        </div>

    </section>

</section>