<!-- requires "relative" -->
<section class="padding bg-[url('/img/seatable-waves-background-scaled.jpg')] bg-cover bg-center">
    <section id="abc" class="max-container flex justify-between items-start w-full gap-10 max-lg:flex-col">
        <div class="flex flex-col flex-1">
            <h2 class="font-palanquin text-4xl capitalize font-bold">We provide your <span class="text-coral-red">super quality</span> shoes</h2>
            <p class="mt-4 info-text">Ensuring premium comfort and style, our meticulously crafted footwear is designed
                to elevate your experience, providing you with unmatched quality, innovation,
                and a touch of elegance.</p>
            <p class="mt-4 info-text">Our dedication to detail and excellence ensures your satisfaction</p>
            <div class="mt-11">
                <a class="inline-flex justify-center items-center gap-2 font-montserrat text-lg rounded-full px-7 py-4 bg-coral-red text-white">View details <img class="ml-2 rounded-full w-5 h-5" src="/icons/arrow-right.svg" alt="arrow right icon"/></a></button>
            </div>
        </div>
        <div class="flex flex-1 justify-center">
            <img src="https://placehold.co/570x522" width="570" height="522" alt="placeholder" />
        </div>
    </section>
</section>