<section class="!pt-40 padding bg-gray-100 curved move-up">
    <section id="2col" class="max-container flex justify-between items-start w-full gap-10 max-lg:flex-col">
        <div class="flex flex-col basis-3/5">
            <p class="text-2xl font-bold font-poppins gradient">Ohne Programmierkenntnisse</p>
            <h2 class="mt-1 text-4xl font-bold">Erstellen Sie individuelle Apps</h2>
            <p class="mt-8">Willkommen in der Zukunft der App-Entwicklung, bei der Programmierkenntnisse optional sind.
                Mit SeaTable können Sie sofort loslegen!</p>
            <h3 class="mt-12 text-xl font-bold tracking-tight">Nutzen Sie den No-Code App Builder</h3>
            <p class="mt-3 text-base leading-normal">Unser No Code App Builder ermöglicht es Ihnen, leistungsstarke, datengetriebene Anwendungen
                mühelos per Drag-and-Drop-Funktion zu erstellen. Programmieren ohne Code: Ob Sie ein CRM,
                ein Projektmanagement-Tool oder eine spezifische Lösung für Ihr Unternehmen benötigen – Sie
                können alles selbst erstellen, auch ohne eine einzige Zeile Code schreiben zu müssen.</p>
                <h3 class="mt-12 text-xl font-bold tracking-tight">Intuitive No-Code und Low-Code Benutzeroberfläche</h3>
                <p class="mt-3 text-base leading-normal">Egal, ob Sie ein erfahrener Entwickler oder ein Citizen Developer ohne
                    Programmierkenntnisse sind, unsere Tools sind darauf ausgelegt, all Ihre Bedürfnisse beim App-Bau zu erfüllen
                    und Ihre Geschäftsprozesse zu digitalisieren. Starten Sie gleich hier: eigene App erstellen kostenlos.</p>
                <h3 class="mt-12 text-xl font-bold tracking-tight">Kollaboratives Arbeiten in Echtzeit für Teams</h3>
                    <p class="mt-3 text-base leading-normal">SeaTable fördert die Zusammenarbeit in Ihrem Team durch Echtzeit-Synchronisation und gemeinsame Arbeitsbereiche.
                        Jeder im Team kann gleichzeitig auf dieselben Daten zugreifen, Änderungen vornehmen und sehen, was andere bearbeiten.</p>
                    <p class="mt-3 text-base leading-normal">Dies macht SeaTable zu einem idealen Werkzeug für Teams, die gemeinsam an Projekten arbeiten und ihre Produktivität
                        steigern möchten. Unsere No-Code-/Low-Code Plattform unterstützt kollaboratives Arbeiten auch durch Kommentar- und
                        Freigabefunktionen und hilft Ihnen so, Ihre Teamarbeit zu optimieren.</p>
        </div>
        <div class="basis-2/5 justify-center">
            <img src="https://placehold.co/560x400" alt="placeholder" />
        </div>
    </section>
</section>