<section class="padding">
    <section id="price2" class="max-container">
        <div class="mx-auto max-w-[800px] text-center">
            <p class="gradient font-poppins text-2xl font-bold">Details</p>
            <h2 class="mt-1 text-4xl font-bold">Vergleichen Sie die Abonnements</h2>
        </div>

        <div class="mx-auto grid max-w-sm text-sm md:-mx-6 md:max-w-none md:grid-cols-5" x-data="{ isAnnual: true }">
            <!-- Column with labels -->
            <section class="md:contents [&>div:first-child]:rounded-t-2xl [&>div:first-child]:pt-10 [&>div:last-child]:rounded-b-2xl [&>div:last-child]:pb-10">
                <!-- Pricing toggle -->
                <div class="relative flex flex-col justify-end bg-white px-6 dark:bg-slate-900">
                    <div class="border-slate-200 pb-5 md:border-b dark:border-slate-700">
                        <!-- Toggle switch -->
                        <div class="max-md:text-center">
                            <div class="inline-flex items-center whitespace-nowrap">
                                <div class="mr-2 text-sm text-slate-500 md:max-lg:sr-only">Monthly</div>
                                <div class="relative">
                                    <input type="checkbox" id="toggle" class="peer sr-only" x-model="isAnnual" />
                                    <label
                                        for="toggle"
                                        class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-slate-400 px-0.5 outline-slate-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow-sm before:transition-transform before:duration-150 peer-checked:bg-indigo-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-indigo-500">
                                        <span class="sr-only">Pay Yearly</span>
                                    </label>
                                </div>
                                <div class="ml-2 text-sm text-slate-500">Yearly <span class="text-emerald-500">(-20%)</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- # Platform -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-1 dark:bg-slate-900" aria-hidden="true">
                    <div class="mt-4 py-2 font-medium text-slate-900">Platform</div>
                </div>
                <!-- Account Access -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-2 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Account Access</div>
                </div>
                <!-- Custom Domains -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-3 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Custom Domains</div>
                </div>
                <!-- Receipts Forward -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-4 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Receipts Forward</div>
                </div>
                <!-- Supplier Management -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-5 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Supplier Management</div>
                </div>
                <!-- # Features -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-6 dark:bg-slate-900" aria-hidden="true">
                    <div class="mt-4 py-2 font-medium text-slate-900">Features</div>
                </div>
                <!-- Generate Public URLs -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-7 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Generate Public URLs</div>
                </div>
                <!-- API Integrations -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-8 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">API Integrations</div>
                </div>
                <!-- Extra Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-9 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Extra Add-ons</div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-10 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Admin Roles</div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-11 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Admin Roles</div>
                </div>
                <!-- Enterprise Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-12 dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Enterprise Add-ons</div>
                </div>
                <!-- # Support -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-[13] dark:bg-slate-900" aria-hidden="true">
                    <div class="mt-4 py-2 font-medium text-slate-900">Support</div>
                </div>
                <!-- Custom Connection -->
                <div class="flex flex-col justify-end bg-white px-6 max-md:hidden md:order-[14] dark:bg-slate-900" aria-hidden="true">
                    <div class="border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">Custom Connection</div>
                </div>
            </section>
            <!-- End: Column with labels -->

            <!-- Essential table -->
            <section class="md:contents [&>div:first-child]:rounded-t-2xl [&>div:first-child]:pt-10 [&>div:last-child]:rounded-b-2xl [&>div:last-child]:pb-10">
                <div class="relative flex flex-col justify-end bg-white px-6 dark:bg-slate-900">
                    <div class="mb-5 grow">
                        <div class="mb-0.5 font-semibold text-slate-900 dark:text-slate-200">Essential</div>
                        <div class="mb-1">
                            <span class="text-xl font-medium text-slate-900 dark:text-slate-200">$</span
                            ><span class="text-3xl font-bold text-slate-900 dark:text-slate-200" x-text="isAnnual ? '29' : '35'">29</span
                            ><span class="font-medium text-slate-500">/mo</span>
                        </div>
                        <div class="text-sm text-slate-500">Unlimited placeholder texts.</div>
                    </div>
                    <div class="border-b border-slate-200 pb-4 dark:border-slate-700">
                        <a
                            class="group inline-flex w-full justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 transition-colors duration-150 hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600"
                            href="#0">
                            Get Started <span class="ml-1 tracking-normal text-indigo-300 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5">-&gt;</span>
                        </a>
                    </div>
                </div>
                <!-- # Platform -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-1 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Platform</div>
                </div>
                <!-- Account Access -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-2 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>400 <span class="md:sr-only">Account Access</span></span>
                    </div>
                </div>
                <!-- Custom Domains -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-3 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>4 <span class="md:sr-only">Custom Domains</span></span>
                    </div>
                </div>
                <!-- Receipts Forward -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-4 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Receipts Forward</span></span>
                    </div>
                </div>
                <!-- Supplier Management -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-5 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>1 <span class="md:sr-only">Supplier Management</span></span>
                    </div>
                </div>
                <!-- # Features -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-6 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Features</div>
                </div>
                <!-- Generate Public URLs -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-7 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Generate Public URLs</span></span>
                    </div>
                </div>
                <!-- API Integrations -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-8 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">API Integrations</span></span>
                    </div>
                </div>
                <!-- Extra Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-9 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Extra Add-ons</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-10 dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-11 dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Enterprise Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-12 dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Enterprise Add-ons</span></span>
                    </div>
                </div>
                <!-- # Support -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[13] dark:bg-slate-900">
                    <div class="sr-only mt-4 py-2 font-medium text-slate-900">Support</div>
                </div>
                <!-- Custom Connection -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[14] dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Custom Connection</span></span>
                    </div>
                </div>
            </section>
            <!-- End: Essential table -->

            <!-- Perform table -->
            <section class="dark md:contents [&>div:first-child]:rounded-t-2xl [&>div:first-child]:pt-10 [&>div:last-child]:rounded-b-2xl [&>div:last-child]:pb-10">
                <div class="relative flex flex-col justify-end bg-white px-6 dark:bg-slate-900">
                    <div class="mb-5 grow">
                        <div class="mb-0.5 font-semibold text-slate-900 dark:text-slate-200">Perform</div>
                        <div class="mb-1">
                            <span class="text-xl font-medium text-slate-900 dark:text-slate-200">$</span
                            ><span class="text-3xl font-bold text-slate-900 dark:text-slate-200" x-text="isAnnual ? '49' : '54'">49</span
                            ><span class="font-medium text-slate-500">/mo</span>
                        </div>
                        <div class="text-sm text-slate-500">Unlimited placeholder texts.</div>
                    </div>
                    <div class="border-b border-slate-200 pb-4 dark:border-slate-700">
                        <a
                            class="group inline-flex w-full justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 transition-colors duration-150 hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600"
                            href="#0">
                            Get Started <span class="ml-1 tracking-normal text-indigo-300 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5">-&gt;</span>
                        </a>
                    </div>
                </div>
                <!-- # Platform -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-1 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Platform</div>
                </div>
                <!-- Account Access -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-2 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>800 <span class="md:sr-only">Account Access</span></span>
                    </div>
                </div>
                <!-- Custom Domains -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-3 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>10 <span class="md:sr-only">Custom Domains</span></span>
                    </div>
                </div>
                <!-- Receipts Forward -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-4 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Receipts Forward</span></span>
                    </div>
                </div>
                <!-- Supplier Management -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-5 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>10 <span class="md:sr-only">Supplier Management</span></span>
                    </div>
                </div>
                <!-- # Features -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-6 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Features</div>
                </div>
                <!-- Generate Public URLs -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-7 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Generate Public URLs</span></span>
                    </div>
                </div>
                <!-- API Integrations -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-8 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">API Integrations</span></span>
                    </div>
                </div>
                <!-- Extra Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-9 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Extra Add-ons</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-10 dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-11 dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Enterprise Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-12 dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Enterprise Add-ons</span></span>
                    </div>
                </div>
                <!-- # Support -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[13] dark:bg-slate-900">
                    <div class="sr-only mt-4 py-2 font-medium text-slate-900 dark:text-slate-200">Support</div>
                </div>
                <!-- Custom Connection -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[14] dark:bg-slate-900">
                    <div class="flex items-center border-b border-slate-200 py-2 text-slate-600 max-md:sr-only dark:border-slate-700">
                        <span><span class="md:sr-only">Custom Connection</span></span>
                    </div>
                </div>
            </section>
            <!-- End: Perform table -->

            <!-- Enterprise table -->
            <section class="md:contents [&>div:first-child]:rounded-t-2xl [&>div:first-child]:pt-10 [&>div:last-child]:rounded-b-2xl [&>div:last-child]:pb-10">
                <div class="relative flex flex-col justify-end bg-white px-6 dark:bg-slate-900">
                    <div class="mb-5 grow">
                        <div class="mb-0.5 font-semibold text-slate-900 dark:text-slate-200">Enterprise</div>
                        <div class="mb-1">
                            <span class="text-xl font-medium text-slate-900 dark:text-slate-200">$</span
                            ><span class="text-3xl font-bold text-slate-900 dark:text-slate-200" x-text="isAnnual ? '79' : '85'">79</span
                            ><span class="font-medium text-slate-500">/mo</span>
                        </div>
                        <div class="text-sm text-slate-500">Unlimited placeholder texts.</div>
                    </div>
                    <div class="border-b border-slate-200 pb-4 dark:border-slate-700">
                        <a
                            class="group inline-flex w-full justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 transition-colors duration-150 hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600"
                            href="#0">
                            Get Started <span class="ml-1 tracking-normal text-indigo-300 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5">-&gt;</span>
                        </a>
                    </div>
                </div>
                <!-- # Platform -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-1 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Platform</div>
                </div>
                <!-- Account Access -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-2 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Account Access</span></span>
                    </div>
                </div>
                <!-- Custom Domains -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-3 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Custom Domains</span></span>
                    </div>
                </div>
                <!-- Receipts Forward -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-4 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Receipts Forward</span></span>
                    </div>
                </div>
                <!-- Supplier Management -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-5 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Supplier Management</span></span>
                    </div>
                </div>
                <!-- # Features -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-6 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Features</div>
                </div>
                <!-- Generate Public URLs -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-7 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Generate Public URLs</span></span>
                    </div>
                </div>
                <!-- API Integrations -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-8 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">API Integrations</span></span>
                    </div>
                </div>
                <!-- Extra Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-9 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Extra Add-ons</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-10 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-11 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Enterprise Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-12 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Enterprise Add-ons</span></span>
                    </div>
                </div>
                <!-- # Support -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[13] dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Support</div>
                </div>
                <!-- Custom Connection -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[14] dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Custom Connection</span></span>
                    </div>
                </div>
            </section>
            <!-- End: Enterprise table -->

            <!-- Enterprise table -->
            <section class="md:contents [&>div:first-child]:rounded-t-2xl [&>div:first-child]:pt-10 [&>div:last-child]:rounded-b-2xl [&>div:last-child]:pb-10">
                <div class="relative flex flex-col justify-end bg-white px-6 dark:bg-slate-900">
                    <div class="mb-5 grow">
                        <div class="mb-0.5 font-semibold text-slate-900 dark:text-slate-200">Enterprise</div>
                        <div class="mb-1">
                            <span class="text-xl font-medium text-slate-900 dark:text-slate-200">$</span
                            ><span class="text-3xl font-bold text-slate-900 dark:text-slate-200" x-text="isAnnual ? '79' : '85'">79</span
                            ><span class="font-medium text-slate-500">/mo</span>
                        </div>
                        <div class="text-sm text-slate-500">Unlimited placeholder texts.</div>
                    </div>
                    <div class="border-b border-slate-200 pb-4 dark:border-slate-700">
                        <a
                            class="group inline-flex w-full justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 transition-colors duration-150 hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600"
                            href="#0">
                            Get Started <span class="ml-1 tracking-normal text-indigo-300 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5">-&gt;</span>
                        </a>
                    </div>
                </div>
                <!-- # Platform -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-1 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Platform</div>
                </div>
                <!-- Account Access -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-2 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Account Access</span></span>
                    </div>
                </div>
                <!-- Custom Domains -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-3 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Custom Domains</span></span>
                    </div>
                </div>
                <!-- Receipts Forward -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-4 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Receipts Forward</span></span>
                    </div>
                </div>
                <!-- Supplier Management -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-5 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span>Unlimited <span class="md:sr-only">Supplier Management</span></span>
                    </div>
                </div>
                <!-- # Features -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-6 dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Features</div>
                </div>
                <!-- Generate Public URLs -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-7 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Generate Public URLs</span></span>
                    </div>
                </div>
                <!-- API Integrations -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-8 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">API Integrations</span></span>
                    </div>
                </div>
                <!-- Extra Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-9 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Extra Add-ons</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-10 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Admin Roles -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-11 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Admin Roles</span></span>
                    </div>
                </div>
                <!-- Enterprise Add-ons -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-12 dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Enterprise Add-ons</span></span>
                    </div>
                </div>
                <!-- # Support -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[13] dark:bg-slate-900">
                    <div class="mt-4 py-2 font-medium text-slate-900 md:sr-only dark:text-slate-200">Support</div>
                </div>
                <!-- Custom Connection -->
                <div class="flex flex-col justify-end bg-white px-6 md:order-[14] dark:bg-slate-900">
                    <div class="flex h-full items-center border-b border-slate-200 py-2 text-slate-600 dark:border-slate-700 dark:text-slate-400">
                        <svg class="mr-3 shrink-0 fill-emerald-500" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
                            <path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                        </svg>
                        <span><span class="md:sr-only">Custom Connection</span></span>
                    </div>
                </div>
            </section>
            <!-- End: Enterprise table -->
        </div>
    </section>
</section>
