{{ define "main" }}
    <section class="padding max-container my-4">
        <div class="text-center">
            <h1 class="mb-8 text-4xl">{{ .Params.headline }}</h1>

            <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
            <script src="/pagefind/pagefind-ui.js"></script>
            <div id="search" class="mx-auto max-w-2xl text-left"></div>
            <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI({ element: '#search', showImages: false, showSubResults: true });
                });
            </script>
        </div>

        <div class="mx-auto my-12 grid max-w-4xl auto-rows-fr grid-cols-4 gap-4">
            {{ range .Sections }}
                {{ $bgClass := .Params.color | default "bg-red-100" }}
                <a href="{{ .RelPermalink }}">
                    <div class="flex h-full flex-col rounded-xl">
                        <div class="{{ $bgClass }} flex w-full justify-center rounded-t-xl border p-4 text-3xl text-seatable-gray">
                            {{ partial "icon.html" .Params.icon }}
                        </div>
                        <span class="text-md h-full rounded-b-xl border px-4 pb-8 pt-6 text-center font-poppins text-seatable-gray">{{ .Title }}</span>
                    </div>
                </a>
            {{ end }}

        </div>

        <!--
        <div class="my-12">Noch ganz viele andere Hilfequellen...</div>
        <ul>
            <li>Was gibt es neues?</li>
            <li>Kurzanleitung</li>
            <li>Kundenstimmen</li>
            <li>Vorlagen</li>
            <li>Andere Dokumenttionen</li>
        </ul>
        -->
    </section>
{{ end }}
