{{ define "main" }}
    <section class="max-container mt-12 p-4">
        <div class="text-center">
            <h1 class="mx-auto mb-8 max-w-3xl text-3xl leading-tight sm:text-4xl">{{ .Title }}</h1>
            {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
        </div>

        <div class="justify-left post mt-6 flex w-full gap-12 md:flex-row">
            <!-- Categories -->
            <div class="mt-12 hidden w-1/4 min-w-[220px] lg:block">
                <div class="sticky top-8 py-2 pl-5">
                    <span class="heading mb-4 mr-16 block border-b pb-2 text-sm uppercase !text-gray-400">{{ T "templates.categories" }}</span>

                    {{ $section := .Site.GetPage "section" "templates" }}
                    <div>
                        <span class="heading mb-4 block text-xl font-semibold">
                            <a class="{{ if eq .Path "/templates" }}text-seatable-orange{{ end }}" href="{{ relref . "templates" }}">{{ T "templates.all" }}</a>
                        </span>
                        {{ range $section.Sections }}
                            <span class="heading mb-4 block text-xl font-semibold">
                                <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $.RelPermalink }}text-seatable-orange{{ end }}">{{ .Title }}</a>
                            </span>
                        {{ end }}
                    </div>
                </div>
            </div>

            <!-- show all templates (always 3 per template-categorie) -->
            {{ if and (eq .Section "templates") (eq .Path "/templates") }}
                <div class="post-content my-12 w-full lg:w-3/4">
                    {{ $section := .Site.GetPage "section" "templates" }}
                    {{ range $subsection := $section.Sections }}
                        <div class="flex items-center justify-between gap-4">
                            <div class="flex flex-col">
                                <h2 class="folder-title !pb-0 !pt-0 !text-3xl">{{ $subsection.Title }}</h2>
                                <p class="!text-base text-gray-500">{{ $subsection.Description }}</p>
                            </div>
                            <a href="{{ $subsection.RelPermalink }}" class="rounded-xl bg-blue-50 px-4 py-2 !no-underline hover:bg-blue-100">Alle anzeigen</a>
                        </div>
                        <div class="mb-20 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
                            {{ range first 3 $subsection.RegularPages }}
                                <div class="duration-50 rounded-lg border border-gray-400 transition-colors hover:border-gray-600 hover:bg-orange-100 hover:shadow-lg">
                                    <a href="{{ .RelPermalink }}" class="!no-underline">
                                        {{ with .Resources.GetMatch "feature.*" }}
                                            <img src="{{ .RelPermalink }}" alt="{{ $.Title }} Feature Image" class="rounded-t-lg !border-b border-gray-200" />
                                        {{ end }}


                                        <h3 class="!px-4 !py-6 !text-xl tracking-tight">{{ .Title }}</h3>
                                        {{ with .Params.description }}
                                            <p class="p-4 pt-0 !text-sm font-normal !leading-relaxed text-gray-600">{{ . }}</p>
                                        {{ end }}
                                    </a>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            {{ else }}
                <!-- max width of the blog posts is 768px -> image optimization -->
                <div class="post-content my-12 w-full lg:w-3/4">
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
                        {{ range .RegularPagesRecursive }}
                            <div class="duration-50 rounded-lg border border-gray-400 transition-colors hover:border-gray-600 hover:bg-orange-100 hover:shadow-lg">
                                <a href="{{ .RelPermalink }}" class="!no-underline">
                                    {{ with .Resources.GetMatch "feature.*" }}
                                        <img src="{{ .RelPermalink }}" alt="{{ $.Title }} Feature Image" class="rounded-t-lg !border-b border-gray-200" />
                                    {{ end }}


                                    <h3 class="!px-4 !py-6 !text-xl tracking-tight">{{ .Title }}</h3>
                                    {{ with .Params.description }}
                                        <p class="p-4 pt-0 !text-sm font-normal !leading-relaxed text-gray-600">{{ . }}</p>
                                    {{ end }}

                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}
