{{ define "main" }}
    <section class="max-container mt-12 p-4">
        <div class="text-center">
            <h1 class="mx-auto mb-8 max-w-3xl text-3xl leading-tight sm:text-4xl">{{ .Title }}</h1>
            {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
        </div>

        <div class="justify-left post mt-6 flex w-full gap-12 md:flex-row">
            <!-- Categories -->
            <div class="toc post-toc win-w-[220px] mt-20 hidden w-1/4 lg:block">
                <div class="sticky top-8 py-2 pl-5">
                    <h3 class="text-lg">{{ T "templates.categories" }}</h3>

                    {{ $section := .Site.GetPage "section" "templates" }}
                    <ul>
                        <li><a href="{{ relref . "templates" }}">{{ T "templates.all" }}</a></li>
                        {{ range $section.Sections }}
                            <li>
                                <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $.RelPermalink }}border-l-4 border-orange-300{{ end }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>

            <!-- max width of the blog posts is 768px -> image optimization -->
            <div class="post-content my-12 w-full max-w-3xl lg:w-3/4">
                <div class="grid grid-cols-2 gap-4">
                    {{ range .RegularPagesRecursive }}
                        <div class="border">
                            <a href="{{ .RelPermalink }}">
                                {{ with .Resources.GetMatch "feature.*" }}
                                    <img src="{{ .RelPermalink }}" alt="{{ $.Title }} Feature Image" />
                                {{ end }}


                                <h3 class="px-4 !pb-0 !pt-4">{{ .Title }}</h3>
                                {{ with .Params.description }}
                                    <p class="p-4 !text-base font-normal text-gray-600">{{ . }}</p>
                                {{ end }}

                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
{{ end }}
