{{ define "main" }}
    <section class="max-container padding mx-auto w-full">
        <article class="">
            <h1 class="gradient mt-12 font-poppins text-4xl">{{ .Title }}</h1>

            <div class="justify-left post mt-16 flex w-full gap-12 md:flex-row">
                <!-- max width of the blog posts is 768px -> image optimization -->
                <div class="post-content w-full max-w-3xl lg:w-3/4">
                    {{ .Content }}
                </div>

                <!-- Second section -->

                <div class="toc post-toc win-w-[220px] hidden w-1/4 lg:block" data-pagefind-ignore>
                    <div class="sticky top-8 border-l border-dotted border-gray-400 py-2 pl-5">
                        <h3>INHALTSVERZEICHNIS</h3>
                        <div>
                            {{ .TableOfContents }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-12">
                <!--{{ template id="14498b7d75cd47ab934c" }}-->

                {{ .Params.template }}
            </div>
        </article>
    </section>
{{ end }}
