{{ define "main" }}
    <section class="max-container padding mx-auto w-full">
        <article class="">
            <header>
                {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
                    {{ partial "breadcrumbs.html" . }}
                {{ end }}


                <!-- I have to use style here, because tailwind does not generate this color ... -->
                <div class="justify-left mt-6 flex flex-col gap-0 rounded-2xl shadow-2xl md:gap-8 lg:flex-row" style="background-color: {{ .Params.color | default "#ffffff" }}">
                    <div class="w-full p-8 lg:w-3/5 lg:p-12 xl:p-20">
                        {{ $colorMap := dict "white" "text-white" "neutral" "text-neutral-500" "dark" "text-neutral-900" }}
                        {{ $textColor := index $colorMap (default "neutral" .Params.color) }}
                        <h1 class="text-56 {{ $textColor }} mt-0 pt-8 text-left text-4xl font-extrabold leading-narrow">{{ .Title | emojify }}</h1>
                        <p class="mt-4 text-xl leading-normal">{{ .Description }}</p>
                        <p class="mt-8">{{ .Date.Format .Site.Params.dateFormat }}</p>
                    </div>
                    <div class="w-9/12 self-center lg:w-2/5">
                        {{ $images := .Resources.ByType "image" }}
                        {{ $featured := $images.GetMatch "feature*" }}
                        {{ if $featured }}
                            {{ $featured := $featured.Resize (printf "%dx%d webp" $featured.Width $featured.Height) }}
                            <img src="{{ $featured.RelPermalink }}" width="{{ $featured.Width }}" height="{{ $featured.Height }}" class="rounded-r-2xl" />
                        {{ end }}
                    </div>
                </div>
            </header>

            <div class="justify-left post mt-6 flex w-full gap-12 md:flex-row">
                <!-- max width of the blog posts is 768px -> image optimization -->
                <div class="post-content mt-12 w-full max-w-3xl lg:w-3/4">
                    {{ .Content }}


                    <div class="mt-12 border-t border-gray-300"></div>
                    <p class="mt-12">
                        TAGS:
                        {{ range (.GetTerms "tags") }}
                            <a href="{{ .Permalink }}"><span style="background-color: #e1e1e1; padding: 4px 8px; border-radius: 8px;">{{ .LinkTitle }}</span></a>
                        {{ end }}
                    </p>
                </div>

                <!-- Second section with TOC und Register (optional) -->
                <div class="toc post-toc win-w-[220px] mt-20 hidden w-1/4 lg:block">
                    <div class="sticky top-8 border-l border-dotted border-gray-400 py-2 pl-5">
                        {{ .TableOfContents }}


                        <!-- registration box -->
                        <!-- später so: if ne .Params.register "hide" -->
                        {{ if .Params.register.show }}
                            <div class="mt-8 rounded-lg bg-gray-100 p-8">
                                <div class="pb-2 font-poppins text-xl font-bold text-seatable-blue">{{ .Params.register.title | default "Kein Title definiert" }}</div>
                                <ul class="ml-4 !list-disc pb-2">
                                    {{ range .Params.register.items }}
                                        <li class="!list-disc">{{ . }}</li>
                                    {{ end }}
                                </ul>
                                <a href="#" class="bg-gradient rounded-lg px-4 py-2 text-center font-poppins !font-bold !text-white md:block"
                                    >{{ .Params.register.submit | default "Jetzt registrieren" }}</a
                                >
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </article>
    </section>
{{ end }}
